body html {
	  background-color: rgb(251, 251, 247);
}

img.tree-scg {
  background-color: white;
  width: 100%;
  position: absolute;
  top: 50px;
  z-index: -2;
}

img.plastic_bag {
	position: relative;
	width: 50%;
	left: 25%;
  z-index:-5;

}

img.github_logo {
  width: 10%;
  position: relative;
  left: 20%;
 

}


img.train {
  position: absolute;
  left: -530px;
  top: 400px;
  z-index: -4;
}

ul.contact_list {
    list-style: none;
  display: inline-block;
  font-size: 3em;
  position: absolute;
  width: 15%;
  padding: auto;

  left: 42.5%;



}


div.contact_info {
  
}
.demo {
  display: block;
  max-width: 80rem;
  width: 100%;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.demo5 {
  background-image: url("../images/suit.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 40rem;
}