body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #219ab3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/lance-background.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #219ab3;
    color: #fff;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #000;
    background-color: #219ab3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}






body{
	overflow-y: scroll; 
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

.toBeAnimated {
  	-webkit-animation-duration: 3s;
  	-webkit-animation-delay: 2s;
	}	

.os-animation{
  	opacity: 0;
	}
 
.os-animation.animated{
    opacity: 1;
	}

input{
	border-radius: 5px;
	color: #219ab3;
	}

input#Name.ng-invalid.ng-dirty{
	border:1px solid red;
	}

input#Email.ng-invalid.ng-dirty{
	border:1px solid red;
	}
input#Email.ng-invalid.ng-dirty:focus{
	border:1px solid #219ab3;
	}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; 
    -webkit-text-fill-color: #219ab3;
    border-bottom: 1px solid gray;
	}
form.ng-invalid > #submit {
	display: none;
 	}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #219ab3;
	}
form{
	padding: 5%;
	}
div.form-area{
	width:50%;
	}
.form-control{
	color: #219ab3;
	}
ul{
	text-align: left;
	}
a{
	font-family: 'Roboto', sans-serif;
	}
p{
	font-family: 'Roboto', sans-serif;
	}
hr.hr{
	display:none;
	}
.content-section {
	padding-top: 100px;
	position: relative;
	z-index: 3;
	}
#features{
	background-color: #36424d;
	margin-top: 135px;
	padding-top: 40px;
	padding-bottom: 7%;
	}
#features-2{
	background: #eb7260;
	padding-top: 0px;
	}
.features-section-2{
	background: #eb7260;
	}
#features-4{
	background-color: #2ea28e;
	padding-top: 20px;
	}
#showcase{
	background-color: #548db5;
	padding-top: 10px;
	}
#contact{
	background-color: #36424d;
	padding-bottom: 20px;
	}
h1.brand-heading{
	font-family: 'Roboto', sans-serif;
	top: 115px;
	position: relative;
	}
.main-logo{
    position: absolute;
    width: 3%;
    top: 0px;
    min-width: 51px;
    left: 2%;
	}
.main-logo:hover{
	border:1px solid transparent;
	}
.sub-layer{
	background-image: url('../img/dot.png');
	}
div.intro-container{
	font-size: 2.8vw;
	font-family: 'Roboto', sans-serif;
	}
div.intro-container span{
	font-size: 16vw;
	position: relative;
	top: 3vw;
	}
img.intro-icons{
	width: 27%;
	max-width: 110px;
	margin: 1%;
	opacity: .9;
	}
img.intro-icons:hover{
	border:1px solid transparent;
	}
img.how-it-works{
	position: relative;
	width: 95%;
	opacity:0;
	top: 0px;
	}
.icons{
	font-size: 6vw;
	position: relative;
	top: 8px;
	}
h3.elevator{
	font-size: 2vw;
	position: relative;
	z-index: 100;
	top:0px;
	}
.push-li{
	position: relative;
	left: -2%;
	width: 600px;
	}
span.details-title{
	position: absolute;
	left: -1%;
	background-color: red;
	width: 100%;
	z-index: 1;
	}
.features-section{
	width: 100%;
    padding: 50px 0;
    color: #fff;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Roboto', sans-serif;
	}
.showcase-section{
	width: 100%;
    padding: 50px 0;
    color: #fff; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Roboto', sans-serif;
	}
h2.feature-1-title{
	text-align: left;
	color: #fff;
	}
.list-left{
	left:-4%;
	}
.list-right{
	left: 41%;
	width: 59%;
	}
.landing{
	margin-top: 3%;
	border-radius: 5px;
	border-top: 100px solid;
	}
ul.features-1-list{
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-align: left;
	position: relative;
	color: #fff;
	}
ul.last-list{
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-align: left;
	color: #fff;
	}
ul.features-2-list{
	font-family: 'Roboto', sans-serif;
	width: 58%;
	list-style: none;
	}
ul.features-2-list-2{
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-align: left;	
	}
h3.list-title{
	color: white;
	text-align: left;
	position: relative;
	z-index: 10;
	text-transform: lowercase;
	}
h3.list-title2{
	color: rgb(108, 116, 123);
	}
.fa-icons{
	font-size: 2.5em;
	color: #219ab3;
	position: absolute;
	left: 1%;
	}
.fa:hover{
	border:1px solid transparent;
	}
.fa-icons-dark{
	font-size: 2.5em;
	color:  #1F5F6C;
	position: absolute;
	left: 0%;
	}
.fa-icons-dark1{
	font-size: 2.5em;
	color:  #1F5F6C;
	}
.fa-icons-dark2{
	font-size: 2.5em;
	color:  #1F5F6C;
	}
.fa-icons-dark2:hover{
	border: none;
	}
.fa-icons-med{
	color:#1C8296;
	font-size: 2.5em;
	position: absolute;
	left: 0%;
	}
.fa-retweet{
	position: relative;
	}
.blue-text{
	color: #219ab3;
	}
.blue-text-med{
	color: #1C8296;
	}
.blue-text-light{
	color:#E4FFFA;
	}
.blue-text-med-light{
	color: #67B3C2;
	}
.yellow-text{
	color: #E8E81F;
	}
h3{
 	font-size: 1.8em;
 	}
h3.quotes{
	font-size: 1.8em;
	}
.quotes2{
	font-size: .65em;
	text-align: left;
 	}
p.footer{
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	}
.widget-text{
	position: relative;
	width:60%;
	display: inline-block;
	top:-40px;
	}
.landing-text{
	position: relative;
	width:60%;
	display: inline-block;
	}
.fa-lock{
	transform: rotate(20deg);
	}
li.li{
	font-size: 1.5em;
	}
li.li-2{
	font-size: 1.5em;
	}
div.switch-out{
	min-height: 160px;
	position: relative;
	top: 100px;
	}
.intro-container{
	position: relative;
	top: -50px;
	}
img.brand-logo{
	position: relative;
	top: 65px;
	width: 40%;
	}
.gif-f1{
	position: absolute;
	display: inline;
	width: 35%;
	left: -15px;
	}
.i-phone{
	left: -0.4%;
	top: -42px;
	}
.container-android{
	overflow:hidden;
	}
.phone-android{
	position: relative;
	width: 100%;
	z-index: 2;
	}
.feed-android{
	position: relative;
	width: 100%;
	top:0;
	left: 0;
	z-index: 3;
	-webkit-user-select: none;
	}
#inner:hover .move-up {
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%); 
    -moz-transform: translate(0,-50%);
	}
li:hover .move-up {
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%); 
    -moz-transform: translate(0,-50%);
	}
.inner{
	position: absolute;
	overflow: hidden;
	width: 73%;
	left: 13%;
	height: 77%;
	top: 10%;
	}
.object {
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	}
.fa{
	display: inline;
	}	
.li{
	display: block; 
	}
.iphone-container{
	position: relative;
	width: 30%;
	}	
.iphone-frame{
	position: absolute;
	width: 100%;
	}
.iphone-inner{
	position: absolute;
	width: 87%;
	left: 12.6%;
	}
.iphone-screenshot{
	position: absolute;
	width: 100%;
	margin-top: 34%;
	left: 51%;
	}
.darker{
	color: #3f474f;
	}
div.widget-container{
	position: relative;
	width: 100%;
	height: 20%;
	display: block;
	}
div.widget-body{
	position: relative;
	height: 20% ;
	width: 32%;
	padding: 1%;
	display: inline-block;
	border-radius: 3px;
	}
div.widget-body:hover{
	border: 2px solid transparent;
	}
.landing{
	position: relative;
	z-index: 2;
	}
#phone-2{
	border: 0px;
	}
#phone-2:hover{
	border: 1px solid transparent;
	}
.success-message{
	display: none;
	position: absolute;	
	font-size: 1.4em;
	width: 60%;
	color: #219ab3;
	text-align: center;
	left: 20%;
	}
.success-display{
	display: block;
	}
.features-section{
    color: #3f474f;
	}
.iframe{
	height: 475px;
	width: 100%;
	}




@media(min-width:1500px) {

		.intro-container{
			position: relative;
			top: -100px;
			}
		img.intro-icons{
			width: 27%;
			max-width: 170px;
			margin: 1%;
			}
		}

@media(min-width:1001px) and (max-width: 1300px) {

		.iphone-container {
			width: 28%;
			left: -10%;
			top: -45px;	
			}
		}

@media(max-width: 1100px) {
	
		.push-li{
			width: 550px;
			}
		}

@media(min-width:801px) and (max-width: 999px) {

		.list-right {
			left: 41%;
			width: 68%;
			}
		}

@media(min-width:800px) {
	
		h3{
	 		font-size: .8em;
	 		}
		h3.list-title{
			font-size: 2em;
			}
		}

@media(min-width:1001px){

		.icons{
			font-size: 4vw;
			}
		#features{
			padding-bottom: 10%;
			}
		.gif-f1 {
			position: absolute;
			display: inline;
			width: 35%;
			}
		.to-about{
			position: relative;
			top: -50px;
			}	
		img.how-it-works{
			position: relative;
			width: 88%;
			}	
		.push-icon{
			width: 9%;
			position: absolute;
			left: -.4%;
			}
			.iphone-container {
			width: 28%;
			top: -50px;
			}
		}

@media(max-width:1000px){

		.gif-f1{
			top: 198px;
			}
		.push-icon{
			width: 9%;
			position: absolute;
			left: -1.2%;
			}
		.iphone-container {
			left: -5%;
			}
		ul.features-1-list{
			width: 70%;
			}
		.push-li {
			width: 469px;
			}
		}

@media(max-width:840px) {

		.blue-h2{
			position: relative;
			top: -35px;
			}
		.showcase-subtitle{
			position: absolute;
			top: 136px;
			font-size: 1.2em;
			}
		.intro-container{
			position: relative;
			top: 0px;
			}
		.iphone-container {
			position: relative;
			width: 40%;
			left: -18%;
			}
		.list-left {
			left: -4%;
			width: 65%;
			}
		.phone-helper{
			top: -10px;
			left: -13%;
			}
		.push-li{
			width:initial;
			}
		}

@media(max-width:799px) {

		li.li{
			font-size: 1.3em;
			position:relative;
			}
		li.li-2{
			font-size: 1.3em;
			position:relative;
			}
		h3.list-title{
			position: relative;
			font-size: 1.6em;
			}
		.list-right {
			left: 38%;
			width: 56%;
			}
		.push-icon{
			width: 12%;
			}
		ul.features-1-list{
			width: 66%;
			}
		}

@media(max-width:767px) {

		h1.brand-heading{
			top: 102px
			}
		.quotes2{
			font-size: 1em;
			text-align: left;
			}
		h3{
	 		font-size: 1em;
	 		}
		img.how-it-works{
			position: relative;
			top: -65px;
			width: 100%;
			opacity:0;
			}
		h3.elevator {
			font-size: 1em;
			top:-81px;
			}
		h3.quotes{
			font-size: 1em;
			}
		}

@media(max-width:700px){

		h1.brand-heading{
			top: 83px;
			}
		div.switch-out {
			min-height: 188px;
			position: relative;
			top: 88px;
			}
		.gif-f1 {
			top:125px;
			width: 41%;
			}
		.intro-container{
			position: relative;
			top: 0px;
			}
		.list-right {
			left: 37%;
			width: 64%;
			}
		.i-phone {
			left: 1.6%;
			top: -6px;
			}
		.gif-f1 {
			top: 235px;
			width: 45%;
			left: -5%;
			}
		h3.elevator{
			top: -81px;
			}
		.phone-helper {
			left: -16%;
			}
		}

@media(min-width:651px) and (max-width: 839px) {

		.iphone-container {
			width: 34%;
			}
		}

@media(max-width:600px) {

		h1.brand-heading{
			top: 74px;
			}
		h3.list-title{
			top: -32px;
			position: relative;
			}
		.showcase-subtitle{
			position: absolute;
			top: 77px;
			font-size: 1em;
			}
		.i-phone{
			top: -41px;
			}
		.push-icon{
			width: 22%;
			}
		#features{
			margin-top: 0px; 
			padding-bottom: 0%; 
			}
		ul.list-right{
			left: 41%;
			max-width: 53%;
			}
		ul.features-1-list{
			top:-50px;
			width: 66%;
			}
		.features-section{
			padding-top: 0px;
			}
		img.intro-icons{
			width: 24.5%;
			}
		div.widget-body{
			position: relative;
			height: 20% ;
			width: 50%;
			padding: 1%;
			display: inline-block;
			border-radius: 3px;
			}
		.widget-text{
			top:-60px;
			}
		}

@media(max-width:550px) {

		h1.brand-heading{
			top: 48px;
			}
		.iphone-container{
			top:100px;
			}
		li, i {
			 /*CSS transitions*/
			 -o-transition-property: none !important;
			 -moz-transition-property: none !important;
			 -ms-transition-property: none !important;
			 -webkit-transition-property: none !important;
			 transition-property: none !important;
			 /*CSS transforms*/
			 -o-transform: none !important;
			 -moz-transform: none !important;
			 -ms-transform: none !important;
			 -webkit-transform: none !important;
			 transform: none !important;
			 /*CSS animations*/
			 -webkit-animation: none !important;
			 -moz-animation: none !important;
			 -o-animation: none !important;
			 -ms-animation: none !important;
			 animation: none !important;
			 }
		}		

@media(max-width:500px) {

		div.intro-container{
			font-size: 3vw;
			position: relative;
			top: -2px;
			}
		form{
			padding: 1%;
			}
		div.form-area{
			width: 100%;
			}
		.to-about{
			position: relative;
			top: -10px;
			}
		.to-contact{
			top: -35px;
			position: relative;
			}
		.list-right{
			left: 27%;
			width: 82%;
			}
		.widget-text {
			width:100%;
			}
		.landing-text {
			width:96%;
			}
		.landing{
			width: 100%;	
			}
		li.li{
			position: initial;
			}
		li.li-2{
			text-align: left;
			top:-50px;
			left: 0;
			position: relative;
			}
		.phone-helper{
			left: -13%;
			}
		.intro {
			padding: 0;
			}
		.iphone-container{
			left: -14%;
			}
		.album-nav{
			display: none;
			}
		.iframe{
			width: 250px;
			height:210px;
			}
		.landing{
			margin-top: 3%;
			border-radius: 5px;
			border-top: 10px solid;
			}
		hr.hr{
			display: block;
			}
		img.brand-logo{
			top: 85px;
			width: 50%;
			}
		h3.quotes {
			font-size: 1.3em;
			top: -21px;
			position: relative;
			}
		.quote-title{
			padding-top: 5px;
			}
		.push-icon {
			width: 28%;
			}
		.gif-f1 {
			top: 350px;
			}
		.intro{
			height: 550px;
			}
		}

@media(max-width:400px) {
		.iframe{
			width: 250px;
			height:210px;
			}

		}	

/* iphone 6 and  portrait */

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)
{ 

		.intro {
		padding: 0;
		height: 666px;
		}
}

/* iphone 4 portrait & landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3)
{
		.intro {
		padding: 0;
		height: 500px; 
		}
}




