
@import compass/reset


body html 
  background-color: rgb(251, 251, 247)


$SourceSans : 'Source Sans Pro', sans-serif
$Syncopate : 'Syncopate', sans-serif
$cursive : 'Nothing You Could Do', cursive

p 
  font-family: $SourceSans

h1 h2 h3 
  font-family: $cursive

a 
  font-family: $Syncopate

.center-block
  float: none
  margin: 0 auto

img.tree-svg 
  position: relative
  left: 3%

img.plastic_bag 
  position: relative
  width: 50%
  left: 25%
  z-index: -5

img.github_logo 
  width: 10%
  position: relative
  left: 20%

img.tilapia 
  width: 40%
  left: 30%
  position: relative

img.train 
  position: absolute
  left: -530px
  top: 400px
  z-index: -4

ul.contact_list 
  list-style: none
  display: inline-block
  font-size: 3em
  width: 100%
  text-align: center

img.train-bridge 
  position: absolute
  top: 500px
  left: 0

div.contact_info 
  width: 56%
  text-align: right
  position: relative

ul 
  list-style: none
