<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
<!-- Top Left (fixed) WeVue Icon -->
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="img/wevue_logo_icon.svg" class="main-logo os-animation" data-os-animation="rotateIn" alt="WeVue Cultrue App icon outline: scroll to page-top" />
                </a>
            </div>
<!-- content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll os-animation" data-os-animation="fadeIn" data-os-animation-delay=".2s" href="#features-1">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s" href="#contact">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s" href="#contact">Our Story</a>
                    </li>
                </ul>
            </div>
<!-- /.navbar-collapse -->
        </div>
<!-- /.container -->
    </nav>
