/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */











/*
 scrollr styles
        V
 */








html, body{
    width: 100%;
    height: 100%;
}


.caption{
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-align: right;
    color:#fff;
}

p, h1{
    margin: 0;
}
h1 {
    margin-bottom: 0.2em;
}
p{
    line-height: 1.333em;
}
#slide-3 .caption{
    left: 5%;
    right: auto;
    color: #47373f;
    text-align: left;
}

#slide-4 .caption{
    left: 5%;
    right: auto;
    top:5%;
    bottom: auto;
    color: #47373f;
    text-align: left;
}
#slides-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slides{
    width: 200%;
    height: 200%;
    position: fixed;
    top:0;
    left:0;

}

.slide{
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 50%;

}

#slide-1{
    background: url('') no-repeat center center;
    background-size: cover;
    background-color: #B8C5D5;
}
#slide-2{
    background: url('') no-repeat center center;
    background-color: #333;
    background-size: cover;
    -ms-transform: translate(0,100%); /* IE 9 */
    -webkit-transform: translate(0,100%); /* Chrome, Safari, Opera */
    transform: translate(0,100%);
}
#slide-3{
    background: url('') no-repeat center center;
    background-color: #333;
    background-size: cover;
    -ms-transform: translate(100%,100%); /* IE 9 */
    -webkit-transform: translate(100%,100%); /* Chrome, Safari, Opera */
    transform: translate(100%,100%);
}
#slide-4{
    background: url('../img/intro-bg.jpg') no-repeat center center;
    background-size: cover;
    -ms-transform: translate(100%,0); /* IE 9 */
    -webkit-transform: translate(100%,0); /* Chrome, Safari, Opera */
    transform: translate(100%,0);
}

#helper{
    position: absolute;
    left: 0;
    top:0;
    height: 650%;
    width: 0;
    ;
}
.marker{
    height:25%;
    width:100%;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}




/*
 scrollr styles^
 */








/*
 slide1 
    V
 */
.icon-wrapper{
    position: relative;
    text-align: center;
    top: 18vh;
}

.mainLanding-icon{

    border-radius: 2em;
    width: 13%;
    padding: 1%;
    display: inline;
    position: relative;
    top: -5em;

    z-index: 10;
}

.mainLanding-iconCulture{
    border-radius: 2em;
    width: 13%;
    padding: 1%;
    display: inline;
    position: relative;
    top: -5em;

    z-index: 10;
}


.left-bracket{
font-size: 21em;
color: #fff;
display: inline;

}

.right-bracket{
font-size: 21em;
color: #fff;
display: inline;

}

span.landingText{
    font-size: 20%;
    position: relative;
    top: -1em;

}


.slide-1-textAnimation{
    text-align: center;
/* padding: 116px 0 0; */
    width: 30%;
    left: 35%;
    position: absolute;
    padding-top: 3%;

}

.svg1{
    position: absolute;
    top: 0;
}



.st0 {
                stroke-dasharray: 2000;
                stroke-dashoffset:0;
                -webkit-animation: dash 4s linear forwards;
                -o-animation: dash 4s linear forwards;
                -moz-animation: dash 4s linear forwards;
                animation: dash 4s linear forwards;

            }



.svg2{
    width: 27%;
padding-top: 1%;
position: absolute;
top: 0;
}


.svg3{
   
    position: absolute;
width: 30%;
left: 16%;
top: 3%;
}

.svg4{
    position: absolute;
left: 85%;
top: 78vh;

}






































/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
