
/*This ensures that all elements are always sized in this more intuitive way--!>*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*clarfix for floats--!>*/
.clearfix {
  overflow: auto;
  /* zoom: 1; add for IE 6*/
}



body, html{
	margin:0;
	padding: 0;
}

.header{
	position: absolute;
	top: 0px;
	height: 10vh;
	width: 100vw;
	border:1px solid black;
	text-align: center;
	
}

.edu{
	position: absolute;
	top: 10vh;
	height: 20vh;
	width: 100vw;
	border:1px solid black;
	text-align: center;
	

}

.work{
	display: inline-block;
	position: absolute;
	float; left;
	top: 30vh;
	height: 30vh;
	width: 50vw;
	border:1px solid black;
	

}

.skills{
	display: inline-block;
	position: absolute;
	float: left;
	top: 30vh;
	left: 50vw;
	height:30vh;
	width: 50vw;
	border:1px solid black;


	

}
.design{
	position: absolute;
	top: 60vh;
	height:30vh;
	width: 100vw;
	border:1px solid black;

}

.design-content{
	text-align: center;
}
.examples{
	display: inline-block;
	position: absolute;
	top: 90vh;
	left: ;
	height:30vh;
	width: 50vw;
	border:1px solid black;
}

.hobbies{
	display: inline-block;
	position: absolute;
	top: 90vh;
	left: 50vw;
	height:30vh;
	width: 50vw;
	border:1px solid black;

}