

* {	                                   /*Creates more natural element sizing and positioning by contianing borders within object's width and height dimensoions */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}


body{ 	                                 /*Grey background as in app*/
	background-color: rgb(63, 71, 79);
    color:#fff;
    margin:0;
}	

a{
	text-decoration: none;
	color: white;
-webkit-filter: drop-shadow(0 0 3px #151515);

}

a.event{
	padding: 4em;
	font-size: 1em;
}

.logo{
	position: absolute;
	top: 0;
	width: 10%;
	max-width: 40px;
	float: right;
}


ul.main-feed{
	list-style: none;
	margin: 0;
	padding: 0;
}


.cycle-slideshow > a > img { 
    width: 100%;
    position: static;
    display: block;
}

#thumbWrapper{
	width: 100%;
	overflow: auto;
}

#thumbList{
	white-space: nowrap;
	margin: 0px;
}

#thumbList li{
	display: inline;
	list-style-type: none;
	padding-left: 2px;
	padding-right: 2px;
	cursor: pointer;
}
#thumbList li:hover{
	opacity: 0.5;
}



.vertical-container {  	/*Size and position contrioll of each feed item on main display*/
  display: -webkit-flex;
  display: flex;
  height: 300px;
  border: 2px solid  rgb(63, 71, 79);
  background-color:;				/*background image*/
	background-repeat: no-repeat;
	background-size: cover;
}


.vertically-centered {   /*positions main elements within feed item on main display  */
  margin: auto;
  /*border: 1px solid green;*/
}





.nav-container{                 /*justified navigation */
	background-color: #777;
	max-width: 960px;
	margin: 0 auto;
}

.nav-justify ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

	text-align:justify;
}


.nav-justify ul li {
	display: inline-block;


}

.nav-justify ul:after {
	content: "";
	display: inline-block;
	width: 100%;
	height: 0;

}
.nav-justify ul li a {
	


}
	