 <div class="showcase-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>
                    Showcase your company stories, told by the people who live them: <i class="fa fa-adjust"></i></h2>
                    <img src="img/widget.png" class="widget" width="50%"> <br><i class="fa fa-upload fa-icons os-animation" data-os-animation="flash" data-os-animation-delay=".5s"></i><br>
                    <p class="os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s"><i class="fa fa-check-circle-o"></i><span class="showcase-intext">On your website:</span> drop a few lines of code into any site, and easily moderate the content that goes from the app to your company culture page, or anywhere else on your website.</p>
                   <!--  (Photo of widget - eventually actually plug in the widget)--> 
                    <img src="img/showcase.gif" class="desktop-gif" width="50%" >
                    <img src="img/desktop.png" class="desktop-png" width="50%" >
                    <p class="os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s"> <i class="fa fa-check-circle-o"></i><span class="showcase-intext">On social media:</span> photos and videos shared from the app on social media drive traffic to a branded page that links to any relevant site about you company <br><i class="fa fa-retweet fa-icons os-animation " data-os-animation="rotateIn" data-os-animation-delay=".5s"></i><br>
                    <img src="img/landing-page.png" class="landing-page" width="90%"></p>
                    <a href="#contact" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
                
            </div>
        </div>