<address>
	lafland.design@gmail.com
</address>

<md-card class="card-1">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</md-card>


    <paper-calculator responsivewidth="2000px" expression="++" id="paper_calculator"></paper-calculator>
    <paper-toast text="Toast!" id="paper_toast" class="core-transition core-transition-bottom" touch-action="none"></paper-toast>
    <paper-ripple id="paper_ripple"></paper-ripple>
    <core-tooltip label="I'm a tooltip" id="core_tooltip">
      <span id="span">Hover</span>
    </core-tooltip>
