<ul class="nav nav-pills pull-right">
	<li class=" btn btn-success active"><a ui-sref="home">Home</a></li>
	<li class=" btn btn-success" ><a ui-sref="about">About</a></li>
	<li class=" btn btn-success" ><a href="#/contact">Contact</a></li>
</ul>
<h3 class="text-muted">Angular!</h3>


    <section layout="row" layout-sm="column" layout-align="center center">

        
        <md-button class="md-fab" aria-label="Time">
          <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
        </md-button>
        <md-button class="md-fab" aria-label="Time2">
          <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
        </md-button>
        <md-button class="md-fab" aria-label="Time3">
          <paper-ripple class="circle recenteringTouch" fit></paper-ripple>
        </md-button>


    </section>
