<ul class="nav nav-pills pull-right">
	<li class=" btn btn-success active"><a ui-sref="home">Home</a></li>
	<li class=" btn btn-success" ><a ui-sref="about">About</a></li>
	<li class=" btn btn-success" ><a href="#/contact">Contact</a></li>
</ul>
<h3 class="text-muted">Angular!</h3>


    <section layout="row" layout-sm="column" layout-align="center center">

        
        <md-button class="md-fab" aria-label="Time">
          
        </md-button>


      <md-button class="md-fab" aria-label="New document">
        
      </md-button>

        <md-button class="md-fab"  aria-label="Comment">
        </md-button>
            
        <md-button class="md-fab md-primary" md-theme="cyan" aria-label="Profile">
            
        </md-button>

        <paper-button label="hello">
        </paper-button>

    </section>
