
.slow{
	 -webkit-animation-duration: 3s;
	 -o-animation-duration: 3s;
	 -moz-animation-duration: 3s;
	 animation-duration: 3s;
}

.toBeAnimated {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}

.os-animation{
  opacity: 0;
}
 
.os-animation.animated{
    opacity: 1;
}


.main-logo{
    position: absolute;
    width: 3%;
    top: 0px;
    min-width: 53px;
    left: 2%;

}

p.intro-text{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 110px;
	left: -5%;
	font-size: 1.7vw;

}
p.intro-text-1{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 200px;
	left: 65%;
	font-size: 1.6vw;

}

p.intro-text-2{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 160px;
	left: 30%;
	font-size: 1.6vw;


}
p.intro-text-3{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 182px;
	left: 5%;
	font-size: 1.6vw;

}



.brand-heading{
	font-family: 'Roboto', sans-serif;
}


div.sub-layer{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/dot.png');

	opacity: 0.6;
}

div.intro-container{
	font-size: 3vw;
	font-family: 'Roboto', sans-serif;

}

div.intro-container span{
	font-size: 16vw;
	position: relative;
	top: 3vw;

}

img.intro-icons{
	width: 27%;
	max-width: 110px;
	margin: 1%;

}






.video{
    border-radius: 25px;

    }

    video.small-video{

        position: absolute;
        left: 5%;
        top: 22%;
        opacity: 0.3;
        border: 2px solid #fff;
        z-index: 1;

    }


    video.large-video{
        position: absolute;
        left: 32%;
        top: 35%;
        opacity: 0.2;
        z-index: 1;
    }


.img-slide-1{
    width:10%;
    opacity: 0.3;
    z-index: 1;
    border-radius: 25px;
}




    img.img5{
    position: absolute;
    left: 17%;
    top: 54%;
    width: 14%;
    }

    img.img6{
    position: absolute;
    left: 72.5%;
    width: 18%;
    top: 38%;
    border: 1px solid;
    }

    img.img7{
    position: absolute;
    top: 16%;
    left: 58.5%;
    border: 1px solid white;
    }
    img.img8{
    position: absolute;
    left: 5%;
    top: 54%;
    width: 11%;
    }

    img.img9{
    position: absolute;
	left: 69%;
	width: 14.4%;
	top: 9%;

    }







h3.elevator{
	font-size: 2vw;

}


img.screenshot1{
	position: relative;
	width: 27.8%;
	border-radius: 9px;
	margin-top: 9%;

}

img.screenshot2{
	position: relative;
	width: 27.8%;
	border-radius: 9px;
	margin-top: 9%;

}

object.slide2-phone{
	position: absolute;
	width: 100%;
	left: 0%;

}


object.slide3-phone{
	position: absolute;
	width: 100%;
	left: 34.5%;
	overflow: hidden;

}


.phone-feature{
	position: relative;
	z-index: 1;
}


div.branding-wrapper{


}

.branding{
width: 24.6%;
left: 71.4%;
top: 142px;
border: 1px solid white;
position: absolute;
border-radius: 4px;
z-index: 2;

  background-color: rgb(102, 102, 102);
    }
    @-webkit-keyframes gwd-gen-on9ggwdanimation_gwd-keyframes {
      0% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
      28.57% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(0, 0, 255);
      }
      57.14% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(204, 0, 0);
      }
      85.71% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
      100% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
    }
    body .gwd-gen-on9ggwdanimation {
      -webkit-animation: gwd-gen-on9ggwdanimation_gwd-keyframes 7s linear 0s infinite normal forwards;
    }

}
div.content-3-container{
width: 26%;
 max-height: 328px; 
 min-height: 293px; 
border: 1px solid;
position: absolute;
left: 71%;
margin-top: -25%;
overflow: scroll;
background-color: #3f474f;
color: whitesmoke;
}
span.details-title{
font-size: .5em;
position: absolute;
left: -1%;
background-color: red;

width: 100%;
height: 1.8em;
z-index: 1;

}
img.gallery-img-1{
	width: 100%;
margin-top: -40%;
}

img.contributor-1{
	width: 22%;
border: 1px solid;
position: absolute;
margin-top: -12%;
display: inline;
left: 3px;
}

img.contributor-2{
width: 22%;
border: 1px solid;
position: absolute;
margin-top: -12%;
display: inline;
left: 26%;
}

img.contributor-3{
	width: 22%;
border: 1px solid;
position: absolute;
margin-top: -12%;
display: inline;
}

i.plus{
	position: absolute;
left: 85%;
top: 3px;
font-size: .8em;
z-index: 3;
}


i.chevron{
	position: relative;
left: -42%;

top: -13px;
font-size: .8em;

z-index: 3;
}


p.vue{
	position: relative;
z-index: 10;
top: 6px;
}

p.feed{
	position: relative;
	top: 194px;
	z-index: 10;
}

p.contributors{
	position: relative;
	z-index: 10;
	top: 43px;

}
img.feed-1{
position: absolute;
top: 243px;
width: 25%;
border-top: 4px solid red;
border-bottom: 4px solid red;
left: 1px;
}
img.feed-2{
position: absolute;
top: 243px;
width: 25%;
border-top: 4px solid red;
border-bottom: 5px solid red;
left: 25%;

}
img.feed-3{
position: absolute;
top: 243px;
width: 25%;
border-top: 4px solid red;
border-bottom: 4px solid red;
left: 50%;


}

img.feed-4{
position: absolute;
top: 243px;
width: 25%;
border-top: 4px solid red;
border-bottom: 5px solid red;
left: 75%;


}


.vue-container{
	border-top: 4px solid red;
position: relative;
top: 30px;
background-color: #3f474f;
}

img.feed-5{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

}








.features-section{
	width: 100%;
    padding: 50px 0;
    color: #fff;
   
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    font-size: 4vw;
    font-family: 'Roboto', sans-serif;

}




.showcase-section{
	    width: 100%;
    padding: 50px 0;
    color: #fff;
   
    background-color: gray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    font-size: 4vw;
    font-family: 'Roboto', sans-serif;

}

h2.feature-1-title{
	text-align: left;
}



ul.features-1-list{

	font-family: 'Roboto', sans-serif;
	width: 100%;
	list-style: none;
	font-size: 4vw;


	text-align: left;

	position: relative;
	left: 8%;
}




ul.features-2-list{
	font-family: 'Roboto', sans-serif;
	width: 58%;
	list-style: none;
	font-size: 4vw;



}

span.list-title{
	color: white;
	font-size: 3vw;
	position: relative;
	top: -20px;
	width: 78%;
}



@media(min-width:800px) {


	ul.features-1-list{
	font-size: .4em;
	line-height: 2.5em;

	}
	ul.features-2-list{
font-size: .37em;
line-height: 1.9em;

	}

	span.list-title{
	
	font-size: .75em;
	line-height: 1.7em;

	}

	.features-section{
	
    color: #3f474f;
	}


}

	

.woody{
	position: absolute;
left: 5%;
width: 33%;
top: 181px;
}

.dog{
	position: absolute;
left: 5%;
width: 33%;
top: 381px;
max-height: 213px;
}


img.how-it-works{
	position: absolute;
width: 100%;
top: 83px;
}


.helper{
	width: 20%;
}


img.app-store-screen{
	position: absolute;
left: 26px;
width: 26%;
top: 164px;
}

img.woody-in-place{
	position: absolute;
width: 26%;
left: 70.6%;
top: 129px;

}
img.slide-4{
	position: absolute;
width: 26%;
left: 70.6%;
top: 163px;

}

img.landing{
	position: absolute;
left: 28%;
width: 44%;
top: 263px;
}

img.widget{
	position: absolute;
width: 26%;
left: 31%;
top: 236px;
}







@media(min-width:1500px) {

	img.intro-icons{
		width: 27%;
		max-width: 170px;
		margin: 1%;

	}


}




@media(max-width:767px) {

		img.app-store-screen {
		
		position: absolute;
		left: 4.2%;
		width: 34%;
		top: 180px;
		}

		img.woody-in-place {
		position: absolute;
		width: 34.6%;
		left: 61.2%;
		top: 144px;
		}
		img.slide-4{
		position: absolute;
		width: 34.6%;
		left: 61.2%;
		top: 174px;
		}

		span.list-title{
	
		color:gray;
		}

		div.sub-layer{
			display: none;
		}

		p.intro-text, p.intro-text-1, p.intro-text-2, p.intro-text-3{
			display: none;
		}

		img.screenshot1{
			width: 29%;
			border-radius: 3px;
			border: 1px solid white;
			top:3px;
		}

		img.screenshot2{
			width: 29%;
			border-radius: 3px;
			border: 1px solid white;
			top:3px;
			left: 2%
		}
		h3.elevator {
		font-size: 1em;
		}



		.phone-feature{
			width: 40%;

			
		}

		  
	  .branding{
	width: 32.8%;
left: 62.25%;
top: 166px;
	}




}

@media(max-width:560px) {

	img.app-store-screen {
		
	
		left: 21.5px;
		width: 33%;
		top: 170px;

		}
	img.woody-in-place {
	
		width: 32.6%;
		
		}
	img.slide-4{
	
		width: 32.6%;
		
		}



}



@media(min-width:450px) and (max-width:769px) {
		img.screenshot2{
				left: 1%
		}


}