body{
	overflow-y: scroll; 
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

.slow{
	-webkit-animation-duration: 3s;
	-o-animation-duration: 3s;
	-moz-animation-duration: 3s;
	animation-duration: 3s;
	}	

.toBeAnimated {
  	-webkit-animation-duration: 3s;
  	-webkit-animation-delay: 2s;
	}	

.os-animation{
  	opacity: 0;
	}
 
.os-animation.animated{
    opacity: 1;
	}

input{
	border-radius: 5px;
	color: #219ab3;
	}

input#inputName.ng-invalid.ng-dirty{
	border:1px solid red;
	}
input#inputCompany.ng-invalid.ng-dirty{
	border:1px solid red;
	}
input#inputEmail.ng-invalid.ng-dirty{
	border:1px solid red;
	}
input#inputEmail.ng-invalid.ng-dirty:focus{
	border:1px solid #219ab3;
	}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; 
    -webkit-text-fill-color: #219ab3;
    border-bottom: 1px solid gray;
	}

input:-webkit-autofill:focus {
    -webkit-box-shadow: ,0 0 0 50px white inset;
    -webkit-text-fill-color: #219ab3;
	}
form{
	padding: 5%;
	}
div.form-area{
	width:50%;
	}

.form-control{
	color: #219ab3;
	}

ul{
	text-align: left;
	}
a{
	font-family: 'Roboto', sans-serif;
	}
p{
	font-family: 'Roboto', sans-serif;
	}

.content-section {
	 padding-top: 100px;
	}

#features{
	background-color: #36424d;
	margin-top: 135px;
	padding-top: 40px;
	padding-bottom: 7%;
	}

#features-2{
	background: #eb7260;
	padding-top: 0px;
	}

.features-section-2{
	background: #eb7260;
	}

#features-4{
	background-color: #2ea28e;
	padding-top: 20px;
	}

#showcase{
	background-color: #548db5;
	padding-top: 10px;
	}

#contact{
	background-color: #36424d;
	padding-bottom: 20px;
	}

h1.brand-heading{
	font-family: 'Roboto', sans-serif;
	top: 115px;
	position: relative;
	}
 
.main-logo{
    position: absolute;
    width: 3%;
    top: 0px;
    min-width: 51px;
    left: 2%;
	}

.sub-layer{

	background-image: url('../img/dot.png');

	}

div.intro-container{
	font-size: 2.8vw;
	font-family: 'Roboto', sans-serif;
	}

div.intro-container span{
	font-size: 16vw;
	position: relative;
	top: 3vw;
	}

img.intro-icons{
	width: 27%;
	max-width: 110px;
	margin: 1%;
	}

img.how-it-works{
	position: relative;
	width: 95%;
	opacity:0;
	top: 0px;
	}

.icons{
	font-size: 6vw;
	position: relative;
	top: 8px;
	}

h3.elevator{
	font-size: 2vw;
	position: relative;
	z-index: 100;
	top:0px;
	}

img.screenshot1{
	position: relative;
	width: 27.8%;
	border-radius: 9px;
	margin-top: 9%;
	}

object.slide2-phone{
	position: absolute;
	width: 100%;
	left: 0%;
	}

.phone-feature{
	position: relative;
	z-index: 1;
	}
.branding-1st{
	top: 138px;
	-webkit-filter: drop-shadow(0 0 3px white);
	background-color: rgb(102, 102, 102);
	}
.branding{
	width: 24.6%;
	left: 71.6%;
	position: absolute;
	border-radius: 4px;
	z-index: 2;
    }

    @-webkit-keyframes gwd-gen-on9ggwdanimation_gwd-keyframes {
      0% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
      28.57% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(0, 0, 255);
      }
      57.14% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(204, 0, 0);
      }
      85.71% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
      100% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
    }
    body .gwd-gen-on9ggwdanimation {
      -webkit-animation: gwd-gen-on9ggwdanimation_gwd-keyframes 7s linear 0s infinite normal forwards;
    }

.collect-content{
	top:203px;
	}
.push-li{
	position: relative;
	left: -2%;
	}

span.details-title{
	position: absolute;
	left: -1%;
	background-color: red;
	width: 100%;
	z-index: 1;
	}

.features-section{
	width: 100%;
    padding: 50px 0;
    color: #fff;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Roboto', sans-serif;
	}

.showcase-section{
	width: 100%;
    padding: 50px 0;
    color: #fff; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Roboto', sans-serif;
	}

h2.feature-1-title{
	text-align: left;
	color: #fff;
	}

.last-list{
	left:-4%;
	}

.list-left{
	left:-4%;
	}
.list-right{
	left: 41%;
	width: 80%;
	}

ul.features-1-list{
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-align: left;
	position: relative;
	color: #fff;

	}
	ul.last-list{
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-align: left;
	position: relative;
	color: #fff;

	}

ul.features-2-list{
	font-family: 'Roboto', sans-serif;
	width: 58%;
	list-style: none;

	}
ul.features-2-list-2{
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-align: left;	
	}

h3.list-title{
	color: white;
	text-align: left;
	position: relative;
	z-index: 10;
	text-transform: lowercase;
	}

	h3.list-title2{
	color: rgb(108, 116, 123);
	}

img.widget{
	border: 1px solid white; 
	border-radius: 5px;
	background-color: rgb(102, 102, 102);
    }
    @-webkit-keyframes widget-background-keyframes {
      0% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
      28.57% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(84, 141, 181);
      }
      57.14% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(62, 56, 147);
      }
      85.71% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
      100% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
    }
 body .widget-background{
      -webkit-animation: widget-background-keyframes 7s linear 0s infinite normal forwards;
    }

div.push{
	width: 25%;
	position: absolute;
	top: 200px;
	/* border: 2px solid; */
	left: 3.6%;
	/* background-color: rgba(54, 70, 113, 0.8); */
	/* color: whitesmoke; */
	/* border-radius: 5px; */
	opacity: 0.7;
	z-index: 2;
	}

img.screen-2{
	position: absolute;
	left: 3.7%;
	width: 25.3%;
	z-index: 1;
	top: 155px;
	border: 2px solid white;
	border-radius: 4px;
	}

h2.h2-features{
	text-align: left; 
	}

.fa-icons{
	font-size: 2.5em;
	color: #219ab3;
	position: absolute;
	left: 1%;
	}
.fa-icons-dark{
	font-size: 2.5em;
	color:  #1F5F6C;
	position: absolute;
	left: 0%;
	}
	.fa-icons-dark2{
	font-size: 2.5em;
	color:  #1F5F6C;
	}
.fa-icons-med{
	color:#1C8296;
	font-size: 2.5em;
	position: absolute;
	left: 0%;
	}
.blue-text{
	color: #219ab3;
	}
.blue-text-med{
	color: #1C8296;
	}
.blue-text-light{
	color:#E4FFFA;
	}
.blue-text-med-light{
	color: #67B3C2
	}

h3{
 	font-size: 1.8em;
 	}

h3.quotes{
	font-size: 1.8em;
	}

.quotes2{
	font-size: .65em;
	text-align: left;
 	}

p.footer{
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	}

.widget-text{
	width: 57%;
	display: inline-block
	}

.widget{
	display: inline-block
	}

.desktop{
	display: inline-block
	}

.landing-text{
	width: 57%;
	display: inline-block;
	padding-left:3%;
	margin-top: 1%;
	}

.fa-lock{
	transform: rotate(20deg);
	}

li.li{
	font-size: 1.5em;
	}
li.li-2{
	font-size: 1.5em;
	}

.to-contact{
	position: relative;
	top: -45px;
	}

div.switch-out{
	min-height: 160px;
	position: relative;
	top: 100px;
	}

.intro-container{
	position: relative;
	top: -50px;
	}

img.brand-logo{
	position: relative;
	top: 65px;
	width: 40%;
	}

.gif-f1{
	position: absolute;
	display: inline;
	width: 44%;
	left: -15px;
	}

.i-phone{
	left: -0.4%;
	top: -42px;
	}

.container-android{
	overflow:hidden;
	}
.phone-android{
	position: relative;
	width: 100%;
	z-index: 2;
	}

.feed-android{
	position: relative;
	width: 100%;
	top:0;
	left: 0;
	z-index: 3;
	-webkit-user-select: none;
	}

#inner:hover .move-up {
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%); 
    -moz-transform: translate(0,-50%);
	}
li:hover .move-up {
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%); 
    -moz-transform: translate(0,-50%);
	}

.inner{
	position: absolute;
	overflow: hidden;
	width: 73%;
	left: 13%;
	height: 77%;
	top: 10%;
	}

.object {
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	}
.fa{
	display: inline;
}
.li{
	display: block; 
}

.iphone-container{
	position: relative;
	width: 30%;
}	

.iphone-frame{
	position: absolute;
	width: 100%;
}

.iphone-inner{
	position: absolute;
	width: 87%;
	left: 12.6%;
}

.iphone-screenshot{
	position: absolute;
	width: 100%;
	margin-top: 34%;
	left: 51%;

}

.darker{
	color: #3f474f;
}

@media(min-width:1500px) {

		.intro-container{
			position: relative;
			top: -100px;
			}
		img.intro-icons{
			width: 27%;
			max-width: 170px;
			margin: 1%;
			}
	    .branding-1st{
	    	top: 169px;
	    	}
		.branding {
			width: 24.6%;
			left: 71.6%;
			border: 1px solid white;
			position: absolute;
			border-radius: 4px;
			z-index: 2;
			}
		
		.branding-1st {
			top: 157px;
			left: 71.6%;
			}
		}

@media(min-width:1001px) and (max-width: 1300px) {

.iphone-container {
width: 28%;
left: -10%;
top: -45px;
}
}

@media(min-width:801px) and (max-width: 999px) {

		.branding-1st{
			top:135px;
			left: 71.3%;
			}
		.collect-content{
			top: 242px;
			left: 71.3%;		
			}
		.landing-text {
			width: 57%;
			display: inline-block;
			top: 41px;
			position: relative;
			}
		.list-right {
			left: 41%;
			width: 68%;
			}
		}

@media(min-width:800px) {

		.branding-1st{
			top:180px;
			left: 71.3%;
			}
		h3{
	 		font-size: .8em;
	 		}
		ul.features-1-list{
		
			}
		ul.features-2-list{
		
			}
		h3.list-title{
		font-size: 2em;
			}
		.features-section{
		    color: #3f474f;
			}
		}

@media(min-width:1001px){

		.icons{
			font-size: 4vw;
			}
		.branding-1st {
			top: 204px;
			left: 71.6%;
			}
		#features{
			padding-bottom: 10%;
			}
		.gif-f1 {
			position: absolute;
			display: inline;
			width: 35%;
			}
		.to-about{
			position: relative;
			top: -50px;
			}	
		img.how-it-works{
			position: relative;
			width: 88%;
			}	
		.push-icon{
			width: 6%;
			position: absolute;
			left: .5%;
			}
			.iphone-container {

			width: 28%;
			left: -4%;
			top: -50px;
			}
		}

@media(max-width:1000px){
		.gif-f1{
			top: 198px;
			}
		.push-icon{
			width: 6%;
			position: absolute;
			left: -1.2%;
			}
			.iphone-container {

left: -5%;
		}
		ul.features-1-list{
			width: 70%;
		}
}
@media(max-width:840px) {

		.blue-h2{
			position: relative;
			top: -35px;
			}
		#showcase{
			height: 900px;
			}
		.showcase-subtitle{
			position: absolute;
			top: 136px;
			font-size: 1.2em;
			}
			.intro-container{
			position: relative;
			top: 0px;
			}
			.iphone-container {
			position: relative;
			width: 40%;
			left: -18%;
			}
			.list-left {
			left: -4%;
			width: 65%;
			}
			.phone-helper{
				top: -10px;
				left: -13%;
		}
		}

@media(max-width:799px) {

		li.li{
			font-size: 1.3em;
			position:relative;
			}
		li.li-2{
			font-size: 1.3em;
			position:relative;
			}
		h3.list-title{
			position: relative;
			font-size: 1.6em;
			}
		.list-right {
			left: 38%;
			width: 56%;
			}
		.push-icon{
			width: 10%;
			}
		.branding-1st{
			top:168px;
			}
			ul.features-1-list{
				width: 66%;
		}
}
@media(max-width:767px) {

		h1.brand-heading{
			top: 102px
			}
		.quotes2{
			font-size: 1em;
			text-align: left;
			}
		.collect-content{
			top:229px;
			}
		h3{
	 		font-size: 1em;
	 		}
		img.how-it-works{
			position: relative;
			top: -65px;
			width: 100%;
			opacity:0;
			}
		h3.list-title{
			color:gray;
			}
		h3.elevator {
			font-size: 1em;
			top:-81px;
			}
		.phone-feature{
			width: 43%;
			}
		.branding-1st{
			top: 199px;
			}
		.branding {
			width: 35.2%;
			left: 59.5%;
			}
		div.push{
			width: 30%;	
			top: 250px;
			left: 6.2%;
			}
		img.screen-2 {
			position: absolute;
			left: 4.5%;
			width: 33.3%;
			z-index: 1;
			top: 170px;
			border: 2px solid white;
			} 
		h3.quotes{
			font-size: 1em;
			}
		}

@media(max-width:700px){

		h1.brand-heading{
			top: 83px;
			}
		div.switch-out {
			min-height: 188px;
			position: relative;
			top: 88px;
			}
		.gif-f1 {
			top:125px;
			width: 41%;
			}
		.intro-container{
			position: relative;
			top: 0px;
			}
		.list-right {
			left: 37%;
			width: 64%;
			}
		.i-phone {
			left: 1.6%;
			top: -6px;
			}
		.gif-f1 {
			top: 235px;
			width: 45%;
			left: -5%;
			}
		.branding {
			width: 35.2%;
			left: 61.4%;
			}
		.branding-1st {
			top: 223px;
			}
		h3.elevator{
			top: -81px;
			}
			.phone-helper {

left: -16%;
}
		}
@media(min-width:651px) and (max-width: 839px) {


.iphone-container {

width: 36%;

}

}

@media(max-width:600px) {

		.branding-1st{
			top: 241px;
			}
		h1.brand-heading{
			top: 74px;
			}
		.branding {
			left: 60%;
			}
		.collect-content{
			top:241px;
			}
		img.screen-2 {
			position: absolute;
			left: 5.1%;
			width: 32.3%;
			}
		h3.list-title {
			top: -32px;
			position: relative;
			}
		.showcase-subtitle {
			position: absolute;
			top: 77px;
			font-size: 1em;
			}
		.i-phone{
			top: -41px;
			}
		.gif-f1 {
			top: 300px;
			}
		.push-icon {
			width: 22%;
			}
		.phone-feature {
			width: 45%;
			}
		#showcase {
			height: 1100px;
			}
		#features {
			margin-top: 0px; 
			padding-bottom: 0%; 
			}
		ul.list-right{
			left: 123px;
			max-width: 70%;
		}
		ul.features-1-list{
			top:-50px;
			width: 66%;
			}
	
		.last-list{
			top:50px;
			}
		.features-section{
			padding-top: 0px;
			}
			img.intro-icons {
width: 26%;
}
		}
@media(max-width:550px) {

		h1.brand-heading{
			top: 48px;
			}
		.branding-1st{
			top: 146px;
			}
		.branding {
			left: 62%;
			}
		.collect-content{
			top:165px;
			}
		div.push{
			width: 30%;
			top: 242px;
			left: 8.1%;
			}
		img.screen-2 {
			left: 7.1%;
			top: 105px;
			margin-top: 10%;
			}
			.iphone-container{
				top:100px;
			}
		}		

@media(max-width:500px) {

		.branding-1st {
			top: 163px;
			}
		.branding{
			left: 62%;
			}
		.collect-content{
			top:185px;
			}
		.push{
			width: 30%;
			top: 261px;
			left: 7.9%;
			}
		img.screen-2 {
			top: 200px;
			}
		div.intro-container{
			font-size: 3vw;
			}
		form{
			padding: 1%;
			}
		div.form-area{
			width: 100%;
			}
		.desktop{
			display: none;
			}
		.widget {
			position: absolute;
			top: -115px;
			left: 127px;
			}
		.landing-text{
			width: 100%;
			top:-48px;
			}
		.to-contact{
			top: 29px;
			}
		.list-right {
			left: 27%;
			width: 82%;
			}
		.widget-text {
			width:100%;
			}
		li.li{
		
			position: initial;
			}
		li.li-2{
			text-align: left;
			position: initial;
			}
				.phone-helper{
				
				left: -13%;
		}
		.intro {
			padding: 0;

}
.iphone-container {

left: -14%;
}


		}
@media(max-width:450px) {

		.branding-1st{
			top: 282px;
			}
		.branding{
			left: 58.8%;
			}
		.collect-content{	
			top:315px;
			}
		}


.darker{
	color: #3f474f;
}
