


div.wrapper-1{
	top: 10%;
	left:0%;
	position: absolute;
	height: 850px;
	width:60%;
	background-color: #fff;
}


img.e-icons{
	top: 500px;
	position: absolute;
	width: 15%;
}

img.icon-1a{
	top:0;
}
img.icon-1b{
	top: 0;
	left: 10%;
	width: 27%;
}
img.icon-1c{
	top: 31px;
left: 22%;
width: 22%;

}
img.icon-1e{
	top: 0;
	left: 72.5%;
	width: 17%;

}
img.icon-1d{
	top: 0;
left: 55%;
width: 20%;
}




img.icon-2a{
	top: 16%;
	left: 11%;
	width: 16%;
}

img.icon-2e{
top: 9%;
left: 74%;
width: 16%;
}

img.icon-2c{
top: 3.5%;
left: 41.2%;
width: 16%;
}

img.icon-2d{
top: 6%;
left: 55%;
width: 16%;
}



img.icon-3a{
top: 22%;

}
img.icon-3b{
	top: 31%;
left: 15%;
width: 17%;
}
img.icon-3c{
left: 31.5%;
top: 24.4%;

}
img.icon-3e{
left: 49%;
top: 25.1%;
width: 16%
}
img.icon-3f{
left: 62%;
top: 24%;
width: 17%;
}
img.icon-3g{
left: 75.7%;
top: 24.4%;

}




img.icon-4a{
	left: -4%;
top: 42%;
width: 12%;
}

img.icon-4b{
left: 9%;
top: 44%;
width: 15%;
}
img.icon-4c{
left: 31%;
top: 39%;
width: 17%;

}
img.icon-4i{
left: 47%;
top: 38%;
width: 20%;

}


img.icon-5a{
	left: 0;
width: 17%;

}
img.icon-5b{
left: 34%;
top: 54%;
width: 24%;

}
img.icon-5c{
left: 59%;
top: 64%;
width: 41%;


}

