
.slow{
	 -webkit-animation-duration: 3s;
	 -o-animation-duration: 3s;
	 -moz-animation-duration: 3s;
	 animation-duration: 3s;
}

.toBeAnimated {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}

.os-animation{
  opacity: 0;
}
 
.os-animation.animated{
    opacity: 1;
}


.main-logo{
    position: absolute;
    width: 3%;
    top: 0px;
    min-width: 53px;
    left: 2%;

}

p.intro-text{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 110px;
	left: -5%;
	font-size: 1.7vw;

}
p.intro-text-1{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 200px;
	left: 65%;
	font-size: 1.6vw;

}

p.intro-text-2{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 160px;
	left: 30%;
	font-size: 1.6vw;


}
p.intro-text-3{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 182px;
	left: 5%;
	font-size: 1.6vw;

}



.brand-heading{
	font-family: 'Roboto', sans-serif;
}


div.sub-layer{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/dot.png');

	opacity: 0.6;
}

div.intro-container{
	font-size: 2.8vw;
	font-family: 'Roboto', sans-serif;

}

div.intro-container span{
	font-size: 16vw;
	position: relative;
	top: 3vw;

}

img.intro-icons{
	width: 27%;
	max-width: 110px;
	margin: 1%;

}






.video{
    border-radius: 25px;

    }

    video.small-video{

        position: absolute;
        left: 5%;
        top: 22%;
        opacity: 0.3;
        border: 2px solid #fff;
        z-index: 1;

    }


    video.large-video{
        position: absolute;
        left: 32%;
        top: 35%;
        opacity: 0.2;
        z-index: 1;
    }


.img-slide-1{
    width:10%;
    opacity: 0.3;
    z-index: 1;
    border-radius: 25px;
}




    img.img5{
    position: absolute;
    left: 17%;
    top: 54%;
    width: 14%;
    }

    img.img6{
    position: absolute;
    left: 72.5%;
    width: 18%;
    top: 38%;
    border: 1px solid;
    }

    img.img7{
    position: absolute;
    top: 16%;
    left: 58.5%;
    border: 1px solid white;
    }
    img.img8{
    position: absolute;
    left: 5%;
    top: 54%;
    width: 11%;
    }

    img.img9{
    position: absolute;
	left: 69%;
	width: 14.4%;
	top: 9%;

    }


img.how-it-works{
	position: absolute;
	top: 100px;
	width: 95%;
	opacity:0;
}

.icons{
	font-size: 6vw;
	position: relative;
	top: 8px;

}


h3.elevator{
	font-size: 2vw;
	position: relative;
	z-index: 100;

}


img.screenshot1{
	position: relative;
	width: 27.8%;
	border-radius: 9px;
	margin-top: 9%;

}

object.slide2-phone{
	position: absolute;
	width: 100%;
	left: 0%;

}


.mask{
	position: absolute;
	top: 100px
	left:0;
	width: 100%;
	height: 100%;
	color: blue;s
}


.phone-feature{
	position: relative;
	z-index: 1;
}




.branding{
width: 24.6%;
left: 71.6%;
top: 146px;
border: 1px solid white;
position: absolute;
border-radius: 4px;
z-index: 2;

  background-color: rgb(102, 102, 102);
    }
    @-webkit-keyframes gwd-gen-on9ggwdanimation_gwd-keyframes {
      0% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
      28.57% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(0, 0, 255);
      }
      57.14% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(204, 0, 0);
      }
      85.71% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
      100% {
        -webkit-animation-timing-function: linear;
        background-color: rgb(102, 102, 102);
      }
    }
    body .gwd-gen-on9ggwdanimation {
      -webkit-animation: gwd-gen-on9ggwdanimation_gwd-keyframes 7s linear 0s infinite normal forwards;
    }



.collect-content{

	top:165px;
}



div.content-3-container{
	width: 26%;
	 max-height: 328px; 
	 min-height: 293px; 
	border: 1px solid;
	position: absolute;
	left: 71%;
	margin-top: -25%;
	overflow: scroll;
	background-color: #3f474f;
	color: whitesmoke;
	}
span.details-title{
	font-size: .5em;
	position: absolute;
	left: -1%;
	background-color: red;

	width: 100%;
	height: 1.8em;
	z-index: 1;

	}





.features-section{
	width: 100%;
    padding: 50px 0;
    color: #fff;
   
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    font-size: 4vw;
    font-family: 'Roboto', sans-serif;

}




.showcase-section{
	    width: 100%;
    padding: 50px 0;
    color: #fff;
   
    background-color: gray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    font-size: 4vw;
    font-family: 'Roboto', sans-serif;

}

h2.feature-1-title{
	text-align: left;
}



ul.features-1-list{

	font-family: 'Roboto', sans-serif;
	width: 100%;
	list-style: none;
	font-size: 4vw;


	text-align: left;

	position: relative;
	left: 8%;
}




ul.features-2-list{
	font-family: 'Roboto', sans-serif;
	width: 58%;
	list-style: none;
	font-size: 4vw;



}

span.list-title{
	color: white;
	font-size: 3vw;
	position: relative;
	top: -20px;
	width: 78%;
}


img.desktop-gif{
	-webkit-filter: drop-shadow(0 0 20px white)
}

img.desktop-png{
	display: none
}

img.widget{
	display: none;
	border: 1px solid white; 
	border-radius: 5px;
}
img.landing-page{
	display: none;
	border: 1px solid black; 
	border-radius: 5px;
}



div.push{

	width: 25%;
	position: absolute;
	top: 200px;
	border: 2px solid;
	left: 3.6%;
	background-color: rgba(54, 70, 113, 0.66);
	color: whitesmoke;
	border-radius: 5px;
	opacity: 0.7;
	z-index: 2;

}

p.push-title{
	font-family: 'Roboto', sans-serif;
	font-size: 3vw;

}

p.push-text{
	font-family: 'Roboto', sans-serif;
	font-size: 2vw;

}

.push-btn{
	color: white;
	font-size: 1.5vw;
}



img.screen-2{
	position: absolute;
left: 3.5%;
width: 25.3%;
z-index: 1;
top: 166px;
border: 2px solid white;

}



.fa-icons{
	font-size: 2em;
}


.mobile-about{
	display:none;
}

.desktop-about{
	display: inline;
}


	ul.features-2-list-2{
font-size: .5em;
line-height: 1.3em;
list-style: none;
text-align: left;

	}


span.showcase-intext{
	color: rgb(45, 45, 45);
}
@media(min-width:1500px) {

	img.intro-icons{
		width: 27%;
		max-width: 170px;
		margin: 1%;

	}
	.branding {
		width: 24.6%;
		left: 71.6%;
		top: 169px;
		border: 1px solid white;
		position: absolute;
		border-radius: 4px;
		z-index: 2;
	}
	.collect-content{

	top:167px;
}




}




@media(min-width:800px) and (max-width: 999px) {

	.branding{
		top:139px;
	}

	.collect-content{
		top: 166px;
	}
	
}


@media(min-width:800px) {


	ul.features-1-list{
	font-size: .4em;
	line-height: 1.8em;

	}
	ul.features-2-list{
font-size: .5em;
line-height: 1.3em;

	}

	span.list-title{
	font-size: .8em;
	line-height: 1.7em;

	}

	.features-section{
	
    color: #3f474f;
	}



}



@media(min-width:1001px){
	.icons{
	font-size: 4vw;
}

}
@media(max-width:1000px){



}

@media(max-width:767px) {

		img.how-it-works{
	position: relative;
	top: '';
	width: 95%;
	opacity:0;
}
.mobile-about{
	display: inline;


	}
	.desktop-about{
		display: none;
	}
	
		img.desktop-gif{

	display: none;

}

img.desktop-png{
	display: inline;
}

img.widget{
	display: inline;
	
}
img.landing-page{
	display: inline;
	
}


		
		span.list-title{
	
		color:gray;
		}

		div.sub-layer{
			display: none;
		}

		p.intro-text, p.intro-text-1, p.intro-text-2, p.intro-text-3{
			display: none;
		}

		img.screenshot1{
			width: 29%;
			border-radius: 3px;
			border: 1px solid white;
			top:3px;
		}

	
		h3.elevator {
		font-size: 1em;
		}



		.phone-feature{
			width: 40%;

			
		}
		.branding {
		width: 32.6%;
		left: 62.4%;
		top: 146px;
		}
		
		div.push{

		width: 30%;	
		top: 250px;
		left: 6.2%;

		}

		p.push-title{

		}

		p.push-text{

		}

		.push-btn{

			font-size: 2vw;
		}

		img.screen-2 {
		
	position: absolute;
	left: 4.5%;
	width: 33.3%;
	z-index: 1;
	top: 189px;
	border: 2px solid white;
	} 

}

@media(max-width:600px) {

	.branding {
	left: 62.4%;
	top: 176px;

	}
	.collect-content{

	top:185px;
}

img.screen-2 {

position: absolute;
left: 5.1%;
width: 32.3%;
}

span.list-title {

font-size: 4vw;
}

}


@media(max-width:550px) {

	.branding {
	left: 62%;
	top: 159px;
	}

	.collect-content{

	top:165px;
}
div.push{

		width: 30%;
		top: 242px;
		left: 8.1%;


		}

		p.push-title{
			font-size: 4vw;

		}

		p.push-text{

		}

		.push-btn{

			font-size: 2vw;
		}
		img.screen-2 {

left: 7.1%;
top: 105px;
margin-top: 10%;

}


}




@media(max-width:500px) {

	.branding {
	left: 62%;
	top: 163px;
	}
	.collect-content{

	top:185px;
}
.push-btn{

			font-size: 1.5vw;
		}
		.push{
			width: 30%;
	top: 251px;
	left: 7.9%;

		}
		img.screen-2 {
			top: 200px;

}
	div.intro-container{
	font-size: 3vw;
}

}
@media(max-width:450px) {

	.branding {
	left: 60.9%;
	top: 163px;
	}

.collect-content{

	top:194px;
}


}



