

<div class="home-body">
	
<img src="ang-color.jpg" class="main-fade quotes">
<img src="ang-floor-plan.jpg" class="main-fade quotes">
<img src="anura-hotel.jpg" class="main-fade quotes">
<img src="arf-bar.jpg" class="main-fade quotes">
<img src="cap-one.jpg" class="main-fade quotes">
<img src="dupont-bw-straight-line.jpg" class="main-fade quotes">
<img src="dupont-color-straight-line.jpg" class="main-fade quotes">
<img src="floormaster-1.jpg" class="main-fade quotes">
<img src="hess.jpg" class="main-fade quotes">
<img src="pete-house2.jpg" class="main-fade quotes">


<img src="b-reel.jpg" class="home-footer-img">
<img src="spring.jpg" class="home-footer-img">
<img src="macleod.jpg" class="home-footer-img">

</div>
