

<div class="home-body">
	
<img src="img/home/ang-color.jpg" class="main-fade quotes">
<img src="img/home/ang-floor-plan.jpg" class="main-fade quotes">
<img src="img/home/anura-hotel.jpg" class="main-fade quotes">
<img src="img/home/arf-bar.jpg" class="main-fade quotes">
<img src="img/home/cap-one.jpg" class="main-fade quotes">
<img src="img/home/dupont-bw-straight-line.jpg" class="main-fade quotes">
<img src="img/home/dupont-color-straight-line.jpg" class="main-fade quotes">
<img src="img/home/floormaster-1.jpg" class="main-fade quotes">
<img src="img/home/hess.jpg" class="main-fade quotes">
<img src="img/home/pete-house2.jpg" class="main-fade quotes">


<img src="img/b-reel.jpg" class="home-footer-img">
<img src="img/spring.jpg" class="home-footer-img">
<img src="img/macleod.jpg" class="home-footer-img">

</div>
