<h1>{{title}}</h1>
<ul>
	<li ng-repeat="item in items">{{item}}</li>
</ul>

<input type="text" ng-model="title">

<input type="text"  ng-model="myValue">
{{myValue}}

<select ng-model="selectedValue" ng-options="value for value in items"></select>

<div style="max-width:960px;margin:0 auto;text-align:center;">
						<div>
							<h2 style="color:#fff;">Quantify your intuition.</h2>
							<h3 class="quotes" style="display: none;">Discover which RSI values precede a price increase.</h3>
							<h3 class="quotes" style="display: none;">Explore what a 1% increase in the non-farm payroll does to your asset.</h3>
							<h3 class="quotes" style="display: none;">Understand how volatility affects your trades.</h3>
							<h3 class="quotes" style="display: none;">Discover which indicators are more important to your strategy.</h3>
							<h3 class="quotes" style="display: none;">Explore how your indicators perform in different market conditions.</h3>
							<h3 class="quotes" style="display: block; opacity: 0.000039477898091888;">Understand which indicators are susceptible to false signals.</h3>
							<h3 class="quotes" style="display: none;">Discover which timeframes fit your indicators.</h3>
							<h3 class="quotes" style="display: none;">Understand how volume changes the way a market is traded.</h3>
						</div>
					</div>	

<script>
        (function() {
            var quotes = $(".quotes");
            var quoteIndex = -1;
            function showNextQuote() {
                ++quoteIndex;
                quotes.eq(quoteIndex % quotes.length)
                    .fadeIn(2000)
                    .delay(1000)
                    .fadeOut(2000, showNextQuote);
            }
            showNextQuote();
        })();
    </script>


