<ul class="nav nav-pills pull-right">
	<li class=" btn btn-success active"><a ui-sref="home">Home</a></li>
	<li class=" btn btn-success" ><a ui-sref="about">About</a></li>
	<li class=" btn btn-success" ><a href="#/contact">Contact</a></li>
</ul>
<h3 class="text-muted">Angular!</h3>




        			<md-toast>
 <div ng-controller="AppCtrl" layout-fill layout="column" class="inset">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-button class="md-primary md-fab md-fab-bottom-right">
        FAB
      </md-button>
      <md-button class="md-primary md-fab md-fab-top-right" md-theme="green">
        FAB
      </md-button>
    </div>
</div>
</md-toast>
