<ul class="nav nav-pills pull-right">
	<li class=" btn btn-success active"><a ui-sref="home">Home</a></li>
	<li class=" btn btn-success" ><a ui-sref="about">About</a></li>
	<li class=" btn btn-success" ><a href="#/contact">Contact</a></li>
</ul>
<h3 class="text-muted">Angular!</h3>


    <section layout="row" layout-sm="column" layout-align="center center">
        <md-button class="md-fab" aria-label="Time">
            <md-icon icon="/img/icons/ic_access_time_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
      <md-button class="md-fab" aria-label="New document">
        <md-icon icon="/img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></md-icon>
      </md-button>
        <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
            <md-icon icon="/img/icons/ic_comment_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
        <md-button class="md-fab md-primary" md-theme="cyan" aria-label="Profile">
            <md-icon icon="/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
      <div class="label">FAB</div>
    </section>

        			<md-toast>
 <div ng-controller="AppCtrl" layout-fill layout="column" class="inset">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-button class="md-primary md-fab md-fab-bottom-right">
        FAB
      </md-button>
      <md-button class="md-primary md-fab md-fab-top-right" md-theme="green">
        FAB
      </md-button>
    </div>
</div>


</md-toast>
<script>
angular.module('app', ['ngMaterial'])
.controller('AppCtrl', function($scope) {
  $scope.title1 = 'Button';
  $scope.title4 = 'Warn';
  $scope.isDisabled = true;
  $scope.googleUrl = 'http://google.com';
});
</script>