p{
	font-family: 'Source Sans Pro', sans-serif;
}

h1{
	font-family:  'Syncopate', sans-serif;
}

h2{
	
	font-family: 'Nothing You Could Do', cursive;
}

h3{
	font-family: 'Gochi Hand', cursive;
}

h4{
	font-family: 'Condiment', cursive;
}