html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.navigation {
  padding: 0;
  margin: 0;
  background: #333;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%; }

.navigation li {
  display: inline-block;
  padding: 5px 10px; }

.navigation li a {
  color: #e1e1e1;
  text-decoration: none; }

.navigation li a:hover {
  color: white; }

.navigation li .active {
  background-color: #666666; }

.main {
  margin-top: 30px;
  /* smooth scrolling */
  -webkit-overflow-scrolling: touch; }

.slide {
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px; }

.button {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -25px;
  background-image: url(../img/); }

#slide1 {
  background-image: url(../img/slide1/fog.jpg);
  background-size: cover;
  width: 100%;
  height: 800px; }

.slide-1-logo {
  text-align: center; }

#slide2 {
  background-image: url(../img/slide2/boat.jpg);
  background-size: cover;
  z-index: 9;
  height: 800px; }

#slide3 {
  background-color: #b6c10b;
  background-image: url(../img/slide3/IMG_0665.jpg);
  background-size: cover;
  height: 800px; }

#slide4 {
  background-image: url(../img/slide1/dragon.png);
  background-size: cover;
  width: 100%;
  height: 800px; }
