

<!-- left-nav -->
	<a href="#" class="nav-left-toggle">
		<img id="prlx_lyr_2" class="palm animated delay pulse "src="images/main/palmlines2.png">
	</a> 
	<nav class="nav-left-side">
		<a href="" class="nav-left-toggle pull-right">close</a> 
		<h2 class="text-center">
			Projects
		</h2>
		<div class="text-center">
			<ul>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal10" class="roll-link"><span data-title="Custom Loaders">Custom Loaders</span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target="#modal4" class="roll-link"><span data-title="parallax dragon">parallax dragon </span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal2" class="roll-link"><span data-title="z-axis-transformation">z-axis-transformation</span></a>
				</li>
				<li>
					<a href="projects/navigation/testnavbar.html" class="roll-link"><span data-title="slide-out Navigation">slide-out Navigation </span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal12" class="roll-link"><span data-title="Maps"> Maps</span></a>
				</li>
				<li>
					<a href="projects/modal/purecssmodal.html" class="roll-link"><span data-title="css modal">css modal </span></a>
				</li>
				<li>
					<a href="projects/modal/CSSModal.html" class="roll-link"><span data-title=" moe css modals"> more css modals </span></a>
				</li>
				<li>
					<a href="#" class="roll-link" data-toggle="modal" data-target=".modal1"><span data-title="animated dragon">animated dragon </span> </a>
				</li>
				<li>
					<a href="projects/parallax/scrolling/para/index.html" class="roll-link"><span data-title="parallax scrolling">parallax scrolling</span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal3" class="roll-link"><span data-title="CSS3 Shadows"> CSS3 Shadows</span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal5" class="roll-link"><span data-title="CSS Dog-ear"> CSS Dog-ear</span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal6" class="roll-link"><span data-title="CSS Tabs"> CSS Tabs</span></a>
				</li>
				<li>
					<a href="projects/misc/background-image.html" class="roll-link"><span data-title="Fluid-Background"> Fluid-Background</span></a>
				</li>
				<li>
					<a href="projects/misc/accordian.html" class="roll-link"><span data-title="CSS Accordian">CSS Accordian</span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal8" class="roll-link"><span data-title="CSS Shapes!"> CSS Shapes!</span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal9" class="roll-link"><span data-title="Marquee"> Marquee</span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal11" class="roll-link"><span data-title="Animations"> Animations</span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal13" class="roll-link"><span data-title="Boat"> Boat</span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal14" class="roll-link"><span data-title="Plastic Bag"> Plastic Bag</span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal15" class="roll-link"><span data-title="Borough-map"> Borough-map</span></a>
				</li>
				<li>
					<a href="#" data-toggle="modal" data-target=".modal16" class="roll-link"><span data-title="Logos"> Logos</span></a>
				</li>
				<li>
					<a href="projects/typography/google-fonts/index.html" class="roll-link"><span data-title="Favorite Google-Fonts"> Favorite Google-Fonts</span></a>
				</li>
				....
				<li>
				</li>
				<li>
				</li>
				<li>
				</li>
			</ul>
		</div>
	</nav>
<!-- right-nav -->
	<a href="#" class="nav-right-toggle ">
		<img id="prlx_lyr_3" class="palm animated delay pulse" src="images/main/palmlines.png">
	</a> 
	<nav class="nav-right-side">
		<a href="/portfolio" class="nav-right-toggle pull-left">close</a> 
		<h2 class="text-center">
			Portfolio & Open Source*
		</h2>
		<div class="container-right text-center">
			<ul>
				<li>
					<a href="http://wevue.com" target="blank" class="roll-link"><span data-title="WeVue.com">WeVue.com</span></a>
				</li>
				<li>
					<a href="projects/wevue-prototype/index.html" target="blank" class="roll-link"><span data-title="WeVue.com (prototype)">WeVue.com (prototype)</span></a>
				</li>
				<li>
					<a href="http://www.vermontmarina.com" target="blank" class="roll-link"><span data-title="Vermont Marina">Vermont Marina</span></a>
				</li>
				<li>
					<a href="http://dfwalter.com" target="blank" class="roll-link"><span data-title="Goldsmith">D.F.Walter</span></a>
				</li>
				<li>
					<a href="http://farmers-market.nyc" target="blank" class="roll-link"><span data-title="farmers-market.nyc*">farmers-market.nyc*</span></a>
				</li>
				</div>
			</ul>
		</div>
	</nav>
<!--Modal pure css -->
	<a class="modal-toggle"href="#css-modal">
		<img id="prlx_lyr_1" class=" animated fadeInUp modal-toggle" src="images/main/leaf.gif">
	</a>
	<div class="css-modal" id="css-modal">
		<div class="modal-container">
			<h3>
				<a>Jordan Lafland </a><br> Front-End Developer,  Brooklyn, NY
			</h3>
			<div class="modal-text">
				<a href= "mailto:j.t.lafland@gmail.com" target="blank"> 
					<h3 style="font-size:1em;">lafland.design@gmail.com</h3>
				</a>
				<p>
					<a style="font:#888" href="https://angel.co/jordan-lafland">angel-list</a>
				</p>
				<a href="#modal-close">Close</a>
			</div>
		</div>
	</div>
	<a href="#css-modal">
		<img id="prlx_lyr_4" class="white-leaf "src="images/main/leaf-white.png">
	</a>		
	<div class="lower-area">
		<img id="prlx_lyr_5" src="images/main/large-hand.png">
		<img id="prlx_lyr_6"src="images/main/clean-words.png">
		<img id="prlx_lyr_7"src="images/main/large-words.png">
	</div>	
	<!-- Modal dragon animation-->
	<div class="modal fade modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content dragon-modal" >
	            <div class="modal-body" style="background-color: white;">
		            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		            <div class="container  ">
				        <div class="animation-dragon">
						    <img src="projects/animation/animation-dragon/circlebwdragon.png" class="gwd-img-1l93 gwd-img-hszd gwd-gen-f391gwdanimation">
						    <img src="projects/animation/animation-dragon/circlebwdragon.png" class="gwd-img-1l93 gwd-img-ekz0 gwd-gen-c7drgwdanimation">
						    <img src="projects/animation/animation-dragon/headdragonbw.png" class="gwd-img-pq94 gwd-gen-neuvgwdanimation">
						    <img src="projects/animation/animation-dragon/taildragon.png" class="gwd-img-nbji gwd-gen-qrpxgwdanimation">
					    	<div class="gwd-div-chse"></div>
					    </div>
			    	</div>
		        </div>
		    </div>
		</div>
	</div>
<!-- Modal z-axis transformation-->
	<div class="modal fade modal2" tabindex="-1" role="dialog" aria-labelledby="z-axis" aria-hidden="true">
	  	<div class="modal-dialog">
	   		<div class="modal-content z-axis-modal" >
	      		<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			      	<div class="box-1">
					</div>
					<div class="box-2">
					</div>
					<div class="box-3">
					</div>
					<div class="box-4">
					</div>
					<img src="projects/z-axis-transformation/layer1.png"  class="layer1">
					<img src="projects/z-axis-transformation/layer2.png" class="layer2">
					<img src="projects/z-axis-transformation/layer3.png" class="layer3">
					<img src="projects/z-axis-transformation/layer4.png" class="layer4">
					<img src="projects/z-axis-transformation/layer6.png" class="layer6">
					<img src="projects/z-axis-transformation/layer7.png" class="layer7">
					<img src="projects/z-axis-transformation/layer8.png" class="layer8">
					<img src="projects/z-axis-transformation/monalist.jpg" class="photo">
			    </div>
			</div>
	  	</div>
	</div>
<!-- Modal shadow-->
	<div class="modal fade modal3" tabindex="-1" role="dialog" aria-labelledby="shadow" aria-hidden="true">
	  	<div class="modal-dialog">
	   		<div class="modal-content z-axis-modal" >
	      		<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<div class="container-shadow modal-body">
						<img width="250" height="250" src="images/main/leaf-white.png">
					</div>
					<div class="shadow2 shadow modal-body">
					</div>
					<div class="contianer-text-shadow body-div">
						<h1 class="text"><span class="inset-shadow">Inset Shadow </span></h1>
					</div>
				</div>
	  		</div>
		</div>
	</div>
	<!-- Modal parralax dragon-->
	<div class="modal fade modal4"  id="modal4" tabindex="-1" role="dialog" aria-labelledby="parralax-dragon" aria-hidden="true">
	  	<div class="modal-dialog">
	   		 <div class="modal-content para-dragon" >
	      		<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<div id="container" class="container-fluid">
						<ul id="scene" class="scene">
							<li class="layer" data-depth="1.00"><img src="projects/parallax/paralax-dragon/dragon-layer.png" style="width: 90%;"></li>
							<li class="layer" data-depth="0.80"><img src="projects/parallax/paralax-dragon/blue-layer.png" style="width: 90%;"></li>
							<li class="layer" data-depth="0.60"><img src="projects/parallax/paralax-dragon/green-layer.png" style="width: 90%;"></li>
							<li class="layer" data-depth="0.40"><img src="projects/parallax/paralax-dragon/rel-layer.png" style="width: 90%;"></li>
						</ul>
					</div>
				</div>
	  		</div>
		</div>
	</div>
<!-- Modal folded paper-->
	<div class="modal fade modal5"  id="modal5" tabindex="-1" role="dialog" aria-labelledby="parralax-dragon" aria-hidden="true">
	  	<div class="modal-dialog">
	   		 <div class="modal-content fold-text" >
	      		<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<div class="box dog-ear"> this is my folded paper trick
					</div>
				</div>
	  		</div>
		</div>
	</div>
<!-- Modal Css Tabs-->
	<div class="modal fade modal6"  id="modal6" tabindex="-1" role="dialog" aria-labelledby="tabs-css" aria-hidden="true">
	  	<div class="modal-dialog">
	   		<div class="modal-content tabs-css" >
	      		<div class="modal-body" style="background-color: white;">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&larr;</span><span class="sr-only">Close</span></button>
					<ul class="tabs">
						<li> 
							<input type="radio" name="tabs" id="tab-1" checked>
							<label for="tab-1">First</label>
							<div class="tab-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</li>
						<li> 
							<input type="radio" name="tabs" id="tab-2">
							<label for="tab-2">Second</label>
							<div class="tab-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</li>
						<li> 
							<input type="radio" name="tabs" id="tab-3">
							<label for="tab-3">Third</label>
							<div class="tab-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum  Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</li>
					</ul>
					<p> More Content</p>
				</div>
	  		</div>
		</div>
	</div>
<!-- Modal Css shapes-->
	<div class="modal fade modal8"  id="modal8" tabindex="-1" role="dialog" aria-labelledby="parralax-dragon" aria-hidden="true">
	  	<div class="modal-dialog">
	   		 <div class="modal-content" >
	      		<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<div class="egg"></div>
					<br><div class="circle"></div>
					<div class="triangel-up"></div>
					<div class="triangel-down"></div>
					<div class="star-sixpoint"></div>
					<div class="star-fivepoint"></div>
					<div class="talkbubble"></div>
					<div class="heart"></div>
	  			</div>
			</div>
		</div>
	</div>
<!-- Modal Marquee-->
	<div class="modal fade modal9"  id="modal9" tabindex="-1" role="dialog" aria-labelledby="parralax-dragon" aria-hidden="true">
	  	<div class="modal-dialog">
	   		<div class="modal-content" >
	      		<div class="modal-body">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h1 class="marquee" style="color:white;"><span>This is a marquee.</span></h1>
	  			</div>
			</div>
		</div>
	</div>
<!-- loader-->
	<div class="modal fade modal10"  id="modal10" tabindex="-1" role="dialog" aria-labelledby="parralax-dragon" aria-hidden="true">
	  	<div class="modal-dialog">
	   		 <div class="modal-content" >
	      		<div class="modal-body" style="background-color:white;">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <div class="spinner"></div>
			        <img class="wheel"src="images/assets/dragonwheel.gif">
			         <div class="loader-tea">
				        <img src="loader/loader/loader1.png" class="gwd-img-2g75">
					    <img src="loader/loader/loader4.png" class="gwd-img-unf6 gwd-gen-zg4lgwdanimation">
					    <img src="loader/loader/loader2a.png" class="gwd-img-qybj gwd-gen-jkgfgwdanimation">
					    <img src="loader/loader/loader2.png" class="gwd-img-5adz gwd-gen-5w8dgwdanimation">
					    <img src="loader/loader/loader5.png" class="gwd-img-yfsa gwd-gen-ijaggwdanimation">
					    <img src="images/assets/logo/f2wa7.gif">
					</div>				
	  			</div>
			</div>
		</div>
	</div>
<!-- animate -->
	<div class="modal fade modal11"  id="modal11" tabindex="-1" role="dialog" aria-labelledby="parralax-dragon" aria-hidden="true">
	  	<div class="modal-dialog">
	   		 <div class="modal-content" >
	      		<div class="modal-body" style="padding:15px;">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <div class="box-a"></div>		       
			        <a href="#" class="animate-me">Animate</a>
	  			</div>
			</div>
		</div>
	</div>
<!-- map modal-->
	<div class="modal fade modal12"  id="modal12" tabindex="-1" role="dialog" aria-labelledby="map-modal" aria-hidden="true">
	  	<div class="modal-dialog">
	   		 <div class="modal-content" >
	      		<div class="modal-body" style="background-color: #D7CFB5;">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <br>
					<img class="map-img animated hinge"src="images/map/map2/1a.png">
					<img class="map-img animated bounce"src="images/map/map2/1b.png">
					<img class="map-img"src="images/map/map2/1c.png">
					<img class="map-img"src="images/map/map2/1d.png">
					<img class="map-img"src="images/map/map2/1e.png">
					<img class="map-img"src="images/map/map2/1f.png">
					<br>
					<img class="map-img"src="images/map/map2/2a.png">
					<img class="map-img"src="images/map/map2/2b.png">
					<img class="map-img"src="images/map/map2/2c.png">
					<img class="map-img"src="images/map/map2/2d.png">
					<img class="map-img"src="images/map/map2/2e.png">
					<img class="map-img animated swing"src="images/map/map2/2f.png">
					<br>
					<img class="map-img"src="images/map/map2/3a.png">
					<img class="map-img"src="images/map/map2/3b.png">
					<img class="map-img"src="images/map/map2/3c.png">
					<img class="map-img"src="images/map/map2/3d.png">
					<img class="map-img"src="images/map/map2/3e.png">
					<img class="map-img"src="images/map/map2/3f.png">
					<br>
					<img class="map-img"src="images/map/map2/4a.png">
					<img class="map-img"src="images/map/map2/4b.png">
					<img class="map-img"src="images/map/map2/4c.png">
					<img class="map-img animated tada"src="images/map/map2/4d.png">
					<img class="map-img"src="images/map/map2/4e.png">
					<img class="map-img"src="images/map/map2/4f.png">
					<br>
					<img class="map-img"src="images/map/map2/5a.png">
					<img class="map-img"src="images/map/map2/5b.png">
					<img class="map-img"src="images/map/map2/5c.png">
					<img class="map-img"src="images/map/map2/5d.png">
					<img class="map-img"src="images/map/map2/5e.png">
					<img class="map-img"src="images/map/map2/5f.png">

							        

	  			</div>
			</div>
		</div>
	</div>

<!-- boat -->
	<div class="modal fade modal13"  id="modal13" tabindex="-1" role="dialog" aria-labelledby="boat" aria-hidden="true">
	  	<div class="modal-dialog">
	   		 <div class="modal-content" >
	      		<div class="modal-body" style=" background-color:#18B3CC;">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><br>
			        
					<img class="boat"src="images/assets/boats14.png">
			        
			         
	  			</div>
			</div>
		</div>
	</div>
	<!-- boat -->
	<div class="modal fade modal14"  id="modal14" tabindex="-1" role="dialog" aria-labelledby="boat" aria-hidden="true">
	  	<div class="modal-dialog">
	   		 <div class="modal-content" >
	      		<div class="modal-body" style=" background-color:#fff; padding: 25px;">
			        <br><br><br><br><br><br><br><br>
			        
					<img class="animated fadeOutUp"src="images/assets/plasticbag1.jpeg">
					 <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

					<p>Bag free NYC</p>
			         
	  			</div>
			</div>
		</div>
	</div>
<!-- borough map -->
	<div class="modal fade modal15"  id="modal15" tabindex="-1" role="dialog" aria-labelledby="boat" aria-hidden="true">
	  	<div class="modal-dialog">
	   		 <div class="modal-content" >
	      		<div class="modal-body" style=" background-color:#fff; padding: 25px;">
			      <div class="borough">
		            <a class="map-btn">
		                <img class="map-man animated fadeInDown" src="images/assets/logo/manh-i.png">
		            </a>
		            <a class="map-btn">
		                <img class="map-qu animated fadeInDown" src="images/assets/logo/queens-i.png">
		            </a>
		            <a class="map-btn">
		                <img class="map-bk animated fadeInDown" src="images/assets/logo/brooklyn-i.png">
		            </a>
		            <a class="map-btn">
		                <img class="map-br animated fadeInDown" src="images/assets/logo/bronx-i.png">
		            </a>
		            <a class="map-btn">
		                <img class="map-si animated fadeInDown" src="images/assets/logo/staten-i.png">
		            </a>
		       	   </div>
			         
	  			</div>
			</div>
		</div>
	</div>
	<!-- logo-->
	<div class="modal fade modal15"  id="modal15" tabindex="-1" role="dialog" aria-labelledby="boat" aria-hidden="true">
	  	<div class="modal-dialog">
	   		 <div class="modal-content" >
	      		<div class="modal-body" style=" background-color:#fff; padding: 25px;">
			      <img src="images/assets/logo/apple-touch-precomposed.png">
			      <img src="images/assets/logo/carrot-color-logo-ongreen.jpg">
			      <img src="images/assets/logo/carrot-logo-angellist.jpg">
			      <img src="images/assets/logo/fish-icon-square.png">
			      <img src="images/assets/logo/recycle-fish.png">
	  			</div>
			</div>
		</div>
	</div>

	
		

