.maim-view{
	height:95vh;
	background-color: ;

}
	
             
form {
   
    background-clip: padding-box;
    
    border-radius:         3px;
    -moz-border-radius:    3px;
    -o-border-radius:      3px;
    -webkit-border-radius: 3px;
   
    
    height: 300px;
    margin: 50px auto;
    padding: 0;
    width: 400px;
}

input {
    background: transparent;
    background: rgba(163, 135, 106, 0.15);
    background-clip: padding-box;
    
    border: none;
    border-radius:         26px;
    -moz-border-radius:    26px;
    -o-border-radius:      26px;
    -webkit-border-radius: 26px;
    
    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    -moz-box-shadow:    inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    -o-box-shadow:      inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    
    color: #333;
    height: 26px;
    margin: 137px 80px 0 80px;
    outline: none;
    padding: 0 20px 0 35px;
    
    transition:         all .1s linear;
    -moz-transition:    all .1s linear;
    -o-transition:      all .1s linear;
    -webkit-transition: all .1s linear;
    
    width: 185px;
}

input:focus {
    background: transparent;
    background: rgba(163, 135, 106, 0.2);

    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -moz-box-shadow:    inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -o-box-shadow:      inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
}

label {
    
    cursor: pointer;
    display: block;
    height: 17px;
    left: 90px;
    position: relative;
    text-indent: -99999px;
    top: -21px;
    width: 16px;
}


#container2, #container2 h1 {
    background: url(img/vue3.jpg);
background-repeat: no-repeat;
background-position-y: 50%;
background-position-x: 50%;

}

#container {
	padding: 0px 20px 100px;
	margin: 0px;
	position: relative;
	height: 90vh;
}

#container #gray {
    background: rgba(0,0,0,.8);
    border: 5px solid #fff;
    border-radius: 10px;
    color: white;
    padding: 6em 20px 20px;
    height:77vh;

}

#container h1 {
    font-size: 6em;
    line-height: 100%;
}

#container svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

input, input:focus {
  border:none;
}
input {
  animation: blink-empty 1s infinite;
  border-left: transparent solid 1px;
  margin:5px 
}
@keyframes blink-empty {
  50% {border-left: 1px solid #333;}
}


.wrapper{
	height: 100vh;
	position: fixed;
}

.main-view{
	position: relative;
	top: 0;
	width: 100%
}


input {
    background: transparent;
    background: rgba(163, 135, 106, 0.15);
    background-clip: padding-box;
    
    border: none;
    border-radius:         26px;
    -moz-border-radius:    26px;
    -o-border-radius:      26px;
    -webkit-border-radius: 26px;
    
    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    -moz-box-shadow:    inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    -o-box-shadow:      inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    
    color: #333;
    height: 26px;
    margin: 137px 80px 0 80px;
    outline: none;
    padding: 0 20px 0 35px;
    
    transition:         all .1s linear;
    -moz-transition:    all .1s linear;
    -o-transition:      all .1s linear;
    -webkit-transition: all .1s linear;
    
    width: 185px;
}

input:focus {
    background: transparent;
    background: rgba(163, 135, 106, 0.2);

    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -moz-box-shadow:    inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -o-box-shadow:      inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
}

label {
    
    cursor: pointer;
    display: block;
    height: 17px;
    left: 90px;
    position: relative;
    text-indent: -99999px;
    top: -21px;
    width: 16px;
}
