<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<title>embed</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<div class="container" ng-app="app">
		<div ng-controller="FeedController">
			search <input type="text" ng-model="search">
			<br>
			<select ng-model="selected_feed" ng-options="feed.title for feed in feeds | filter:search">
				<option value="">Choose a Gallery</option>
			</select>
			<ul class="main-feed">
				<li ng-repeat="feed in feeds" ng-style="{'background-image':'url({{feed.thumbnail_url}})'}" class="vertical-container">
				    <div class="vertically-centered">
				    	<a href="#"> {{feed.title}}</a>
				    </div>
				</li>		
			</ul>
		</div>


		<div class="container" >
			<div ng-controller="GalleryController">
				<div id="albumImage">
					<img ng-src="{{currentImage.thumbnail_url}}"/>
				</div>
				<div id="thumbWrapper">
					<ul id="thumbList">
						<li ng-repeat="signature in signatures">
							   <img ng-src="{{signature.thumbnail_url}}"/>
						</li>		
					</ul>
				</div>
			</div>
		</div>

		</div>








	<script>
		angular
		.module('app', [])

		.controller('FeedController',function($scope, $http){

			$http.get('http://wevue.com/api/v1/events.json').success(function(data){
				$scope.feeds = data;
			});
		});

		angular
		.module('app')

		.controller('GalleryController',function($scope, $http){

			$http.get('http://wevue.com/api/v1/events/335641975/media.json').success(function(data){
			$scope.signatures= data;
			});
		
			$scope.currentImage = _.first()

		});

	



	</script>





</body>
</html>