
@import compass/reset



$wevue_gray : #3f474f


body 
	background-color: $wevue_gray 


ul 
	list-style: none
	display: inline-flex

li 
	padding-left: 20px

h3.footer 
	font-size: 2em
	padding-top: 20%
	text-align: center