<div  class="cycle-slideshow"  ng-repeat="signature in signatures">
	<img ng-src="{{signature.thumbnail_url}}"/>
</div>

<a ui-sref="home"><button>Back</button></a>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="http://malsup.github.io/jquery.cycle2.js"></script>


<div class="cycle-slideshow" 
    data-cycle-fx="scrollHorz" 
    data-cycle-slides="> a"
    data-cycle-timeout="2000"
    >
    <a href="http://malsup.github.io/images/p1.jpg">
        <img src="http://malsup.github.io/images/p1.jpg" >
    </a>
    <a href="http://malsup.github.io/images/p2.jpg">
        <img src="http://malsup.github.io/images/p2.jpg" >
    </a>
    <a href="http://malsup.github.io/images/p3.jpg">
        <img src="http://malsup.github.io/images/p3.jpg" >
    </a>
    <a href="http://malsup.github.io/images/p4.jpg">
        <img src="http://malsup.github.io/images/p4.jpg" >
    </a>
</div>