<h1>{{title}}</h1>
	<div class="contact_info">
		<h3 class="animated fadeInDown">
			<a>Jordan Lafland </a> 
		</h3>
		<h3 class="animated fadeInDown">Front-End Developer,  Brooklyn, NY</h3>
		<a href= "mailto:j.t.lafland@gmail.com" target="blank"> 
			<h3 class="animated fadeInDown" style="font-size:1em;">j.t.lafland@gmail.com</h3>
		</a>
	</div>
	<ul class="contact_list">
		<li class="animated fadeIn"> <a href="http://github.com/lafdesign" class="fa fa-github"> </a></li>
		<li class="animated fadeIn"> <a href="http://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" class="fa fa-linkedin"></a></li>
		<li class="animated fadeIn"> <a href="http://angel.co/jordan-lafland" class="fa fa-angellist"></a> </li>
	</ul>
<img src="img/plastic_bag.svg" class="plastic_bag" />					
<img src="img/train2.svg" class="train" />
				<div class="flip3d">
					<div class="back">
						box- 1 back
					</div>
					<div class="front">
						box- 1 front
					</div>
				</div>
				<div class="flip3d">
					<div class="back">
						box- 2 back
					</div>
					<div class="front">
						box- 2 front
					</div>
				</div>
				<div class="flip3d">
					<div class="back">
						box- 3 back
					</div>
					<div class="front">
						box- 3 front
					</div>
				</div>
