body, html {
	background-image: url(../img/background.png);
	margin: auto;
	width: 100vw;
  height: 100vh;
}


.card-1{
  background-color: #fff;
  margin: auto;
  max-width: 60vw;
}

.footer{
  position: absolute;
  top:95vh;
}