body, html {
	background-image: url(../img/background.png);
	margin: auto;
	width: 100vw;
  height: 100vh;
}

.embed{
	width: 500px;
	margin:auto;
	height:500px;
	background-color: #fff;
}

.card-1{
  background-color: #fff;
}

.footer{
  position: absolute;
  top:95%;
}