

/*  Preloader */


#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:230px;
    height:230px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(""); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
    z-index: 99;
}




body, html {
	background-image: url(../img/background.png);
	margin: auto;
	min-width: 100vw;
  max-height: 100vh;

}


.card-1{
  background-color: #fff;
  margin: auto;
  max-width: 60vw;
}

.footer{
  position: absolute;
  top:95vh;
}

.footer-text{
  position: relative;
  left: 53vw;
}


.flex-1, .flex-2, .flex-3{
  height: 200px;
}

.flex-1{
  background-color: blue;
}
.flex-2{
  background-color: green;
}
.flex-3{
  background-color: yellow;
}


