.menu{
	overflow-x: "hidden";
	position: relative;
	left: 231;

}

.menu-open{
	left:231px;

}

.menu-open .menu-side{
	left:0;

}

.menu-side,
.menu{
	-webkit-transition: left .2s ease;
	-moz-transition: left .2s ease;
	transition: left .2s ease;
}

.menu-side{
	background-color: #333;
	border-right:1px solid #000;
	color: #fff;
	position: fixed;
	top:0;
	left:-231px;
	width: 210px;
	height:100%;
	padding:10px;
}

