body{margin:0;padding:0;}
#wrapper{
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
position: relative;
width:235px;
height:199px;
}
#rule2
{
font-size:13px;
height:79px;
left:-558px;
top:-1669px;
width:114px;
z-index:4;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule5
{
font-size:13px;
height:79px;
left:-558px;
top:-1583px;
width:114px;
z-index:5;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule7
{
font-size:13px;
height:79px;
left:-675px;
top:-1499px;
width:114px;
z-index:6;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule8
{
font-size:13px;
height:79px;
left:-793px;
top:-1498px;
width:114px;
z-index:7;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule9
{
font-size:13px;
height:79px;
left:-675px;
top:-1416px;
width:114px;
z-index:8;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule10
{
font-size:13px;
height:79px;
left:-885px;
top:-1498px;
width:77px;
z-index:9;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule11
{
font-size:13px;
height:79px;
left:-885px;
top:-1583px;
width:77px;
z-index:10;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule12
{
font-size:13px;
height:79px;
left:-885px;
top:-1668px;
width:77px;
z-index:11;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule13
{
font-size:13px;
height:79px;
left:-885px;
top:-1415px;
width:77px;
z-index:12;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule14
{
font-size:13px;
height:79px;
left:-793px;
top:-1416px;
width:77px;
z-index:13;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule15
{
font-size:13px;
height:164px;
left:-793px;
top:-1669px;
width:234px;
z-index:14;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule16
{
font-size:13px;
height:116px;
left:-555px;
top:-1498px;
width:115px;
z-index:15;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule17
{
background-color:#333333;
font-size:13px;
height:412px;
left:-991px;
top:-1691px;
width:723px;
z-index:16;
border: 2px solid;
border-color: #134f5c;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule22
{
font-size:13px;
height:75px;
left:-716px;
top:-1547px;
width:75px;
z-index:17;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule24
{
font-size:13px;
height:75px;
left:-435px;
top:-1765px;
width:75px;
z-index:18;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule25
{
font-size:13px;
height:75px;
left:-633px;
top:-1547px;
width:75px;
z-index:19;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule27
{
color:#ffffff;
font-size:72px;
height:80px;
left:-760px;
top:-1550px;
width:101px;
z-index:20;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule28
{
color:#ffffff;
font-size:72px;
height:80px;
left:-550px;
top:-1550px;
width:101px;
z-index:21;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule29
{
color:#ffffff;
font-size:40px;
height:48px;
left:-517px;
top:-1528px;
width:190px;
z-index:22;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule31
{
color:#ffffff;
font-size:40px;
height:48px;
left:-932px;
top:-1528px;
width:171px;
z-index:23;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule32
{
color:#ffffff;
font-size:40px;
height:48px;
left:0px;
top:-1544px;
width:244px;
z-index:24;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule38
{
font-size:13px;
height:79px;
left:-133px;
top:-1655px;
width:77px;
z-index:28;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule39
{
font-size:13px;
height:98px;
left:-195px;
top:-1466px;
width:164px;
z-index:29;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule41
{
font-size:13px;
height:114px;
left:309px;
top:-1601px;
width:126px;
z-index:31;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule46
{
font-size:13px;
height:87px;
left:-132px;
top:-1562px;
width:97px;
z-index:32;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule49
{
color:#cccccc;
font-size:18px;
height:26px;
left:-830px;
top:-1609px;
width:363px;
z-index:35;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule56
{
font-size:13px;
height:100px;
left:-159px;
top:515px;
width:150px;
z-index:39;
padding-top:40px;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#ruleArrow56
{
height:100px;
left:-159px;
top:515px;
width:150px;
z-index:39;
text-align:center;
vertical-align:middle;
padding-top:50px;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule64
{
font-size:13px;
height:100px;
left:-90px;
top:-724px;
width:150px;
z-index:45;
padding-top:40px;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#ruleArrow64
{
height:100px;
left:-90px;
top:-724px;
width:150px;
z-index:45;
text-align:center;
vertical-align:middle;
padding-top:50px;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule65
{
font-size:13px;
height:180px;
left:-186px;
top:-617px;
width:180px;
z-index:46;
text-align:center;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule71
{
font-size:13px;
height:109px;
left:65px;
top:-983px;
width:121px;
z-index:51;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule74
{
font-size:13px;
height:92px;
left:-180px;
top:-859px;
width:110px;
z-index:53;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule84
{
font-size:13px;
height:100px;
left:130px;
top:-422px;
width:150px;
z-index:58;
padding-top:40px;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#ruleArrow84
{
height:100px;
left:130px;
top:-422px;
width:150px;
z-index:58;
text-align:center;
vertical-align:middle;
padding-top:50px;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule85
{
background-color:#ffffff;
font-size:13px;
height:217px;
left:-16px;
top:-9px;
width:268px;
z-index:60;
border: 2px solid;
border-color: #0;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule86
{
background-color:#cccccc;
font-size:13px;
height:228px;
left:-25px;
top:-15px;
width:284px;
z-index:59;
border: 2px solid;
border-color: #0;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule87
{
color:#333333;
font-size:72px;
height:80px;
left:93px;
top:202px;
width:113px;
z-index:61;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule89
{
font-size:13px;
height:79px;
left:153px;
top:88px;
width:77px;
z-index:63;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule90
{
font-size:13px;
height:36px;
left:12px;
top:131px;
width:32px;
z-index:64;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule91
{
font-size:13px;
height:36px;
left:11px;
top:94px;
width:32px;
z-index:65;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule92
{
font-size:13px;
height:36px;
left:47px;
top:131px;
width:32px;
z-index:66;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule94
{
font-size:13px;
height:72px;
left:79px;
top:-104px;
width:140px;
z-index:68;
padding-top:26px;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#ruleArrow94
{
height:72px;
left:79px;
top:-104px;
width:140px;
z-index:68;
text-align:center;
vertical-align:middle;
padding-top:36px;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule95
{
font-size:18px;
height:27px;
left:-16px;
top:270px;
width:271px;
z-index:69;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule107
{
color:#000000;
font-size:13px;
height:21px;
left:259px;
top:-240px;
width:87px;
z-index:76;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}
#rule108
{
color:#000000;
font-size:13px;
height:21px;
left:271px;
top:-223px;
width:87px;
z-index:77;
position: absolute;
font-family:Comic Sans MS,Verdana,Helvetica;}


.btn22{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn22:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}

.btn24{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn24:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}

.btn25{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn25:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}

.btn22{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn22:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}

.btn24{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn24:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}

.btn25{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn25:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}

.btn22{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn22:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}

.btn24{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn24:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}

.btn25{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn25:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}

.btn22{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn22:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}

.btn24{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn24:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}

.btn25{
cursor:pointer;display:inline-block;background-color:#ffffff;
background-repeat:no-repeat;
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
color-stop(0.25, #ffffff), to(#ffffff));
background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
background-image:linear-gradient(#ffffff, #ffffff 0.25, #ffffff);
padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;
font-size:13px;
line-height:37px;
border:1px solid #ccc;border-bottom-color:#bbb;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition:0.1s linear all;
-moz-transition:0.1s linear all;
transition:0.1s linear all;
width:75px;}
.btn25:hover{
background-position:0 -15px;color:#333;text-decoration:none;
}
