.html
{
	background-color: #5F5D5D;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 418px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 62px;
}

#pu2265-4
{
	width: 0.01px;
	position: relative;
}

#u2265-4
{
	z-index: 134;
	width: 338px;
	min-height: 65px;
	border-style: none;
	border-color: transparent;
	background-color: #E42E42;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	line-height: 73px;
	letter-spacing: 5px;
	text-align: center;
	font-size: 19px;
	color: #FFFFFF;
	font-family: rock-salt, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2265-2
{
	padding-top: 1px;
}

#u1489-6
{
	z-index: 106;
	width: 141px;
	min-height: 84px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	line-height: 20px;
	text-align: center;
	color: #706B6B;
	font-family: rock-salt, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 376px;
}

#u1490-6
{
	z-index: 112;
	width: 117px;
	min-height: 84px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	line-height: 20px;
	text-align: center;
	color: #706B6B;
	font-family: rock-salt, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 599px;
}

#u1489-6:hover,#u1490-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	margin: 12px -10000px 0px 0px;
}

#u1489-6:hover p,#u1490-6:hover p
{
	color: #E42E42;
	visibility: inherit;
}

#u1491-6
{
	z-index: 118;
	width: 95px;
	min-height: 84px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	line-height: 20px;
	text-align: center;
	color: #706B6B;
	font-family: rock-salt, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 799px;
}

#u1489-2,#u1489-4,#u1490-2,#u1490-4,#u1491-2,#u1491-4
{
	padding-top: 6px;
}

#slideshowu644
{
	z-index: 124;
	width: 0.01px;
	height: 360px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u742
{
	position: absolute;
	width: 920px;
	height: 360px;
	background-color: transparent;
}

#u742popup
{
	z-index: 125;
}

#u1500
{
	z-index: 126;
	width: 920px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1500_img
{
	margin: -84px -20px -66px 10px;
}

#u753
{
	z-index: 128;
	width: 920px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u753_img
{
	margin-top: -67px;
	margin-bottom: -67px;
}

#u1515
{
	z-index: 130;
	width: 920px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1515_img
{
	margin: -109px -70px -68px -81px;
}

#u1530
{
	z-index: 132;
	width: 920px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1500_clip,#u753_clip,#u1515_clip,#u1530_clip
{
	overflow: hidden;
	width: 920px;
	height: 360px;
}

#u1530_img
{
	margin: -43px -90px -278px -64px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("/images/loading.gif") no-repeat center center;
}

#pu839
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 12px;
	position: relative;
}

#u839
{
	z-index: 2;
	width: 919px;
	position: relative;
	margin-right: -10000px;
}

#u841
{
	z-index: 3;
	width: 919px;
	position: relative;
	margin-right: -10000px;
}

#u840-4
{
	z-index: 4;
	width: 919px;
	min-height: 62px;
	line-height: 58px;
	font-size: 48px;
	color: #E64355;
	font-family: redressed, fantasy;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u842-98
{
	z-index: 8;
	width: 904px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 8px;
}

#u842-2,#u842-4,#u842-6,#u842-8,#u842-9,#u842-11,#u842-13,#u842-15,#u842-17,#u842-19,#u842-21,#u842-23,#u842-24,#u842-26,#u842-28,#u842-30,#u842-32,#u842-33,#u842-35,#u842-37,#u842-39,#u842-40,#u842-42,#u842-44,#u842-46,#u842-47,#u842-49,#u842-51,#u842-53,#u842-55,#u842-56,#u842-58,#u842-60,#u842-62,#u842-64,#u842-65,#u842-67,#u842-69,#u842-71,#u842-73,#u842-74,#u842-76,#u842-78,#u842-80,#u842-82,#u842-84,#u842-86,#u842-87,#u842-89,#u842-91,#u842-93,#u842-95
{
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	font-family: varela, sans-serif;
	font-weight: 400;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

